[2022-02-18 16:45] lfrohlich commented on #953
I moved it back to product backlog

[2022-02-18 16:48] jorgegonzalez commented on #838
I think automating this is overkill unless it can be accomplished with very little work, ideally within an hour.

We already have constant eyes on our dependencies with Dependabot and our Processes™️. This ticket was not a high priority when written, and it is not a high priority now

[2022-02-18 16:49] valcollignon commented on #1337
Circling back on this so we can get a description in this ticket at a minimum.

[2022-02-18 16:53] reitermb opened #1646 "[A11y Fix] Correct TDP home : aria label mismatch"
***Description:***
Accessibility Insights fastpass &  @ttran-hub caught a WCAG 2.5.3 label in name issue for the top level home button in TDP labeled "TANF Data Portal" which is only labeled in aria as "Home"

This is a WCAG 2.1 violation, not 2.0, so it's not technically a Sec 508 relevant issue, but should probably be fixed (if needed) for Release 2. Thomas and Miles will sync to refine this tic

[2022-02-18 18:06] riatzukiza opened #1647 "[SPIKE] Investigate the effort involved in upgrading to django 4"
**Description:**
When we initially tried updating to Django 4, we had a few things break and we want to find out how deep it might go before committing to any specific effort on it.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] We have a report detailing what is preventing tdrs from working with django 4
- [ ] If more work is r

[2022-02-18 21:15] #1495 closed

[2022-02-22 14:31] reitermb opened #1653 "[Design] V2 Onboarding content"
**Description:**
Delivers dev-ready designs/content for TDP V2 Onboarding. Companion ticket to #1637

**Recommended Pa11y Actions**
- .

**Related User Stories:**
- .

**AC:**
- [ ] Relevant user stories are documented.
- [ ] Dev/Design sync has occurred; resulting tickets documented.
- [ ] The problem we are trying to solve is clearly stated, as are questions we still have
- [ ] The design is con

[2022-02-22 15:34] lfrohlich commented on #1269
All tickets are complete -- closing this

[2022-02-22 15:34] #1269 closed

[2022-02-22 15:55] abottoms-coder commented on #1439
[code]

Next up is to automate this manual creation. There seem to be a few options but this looks the most in-house and least complicated.
https://django-extensions.readthedocs.io/en/latest/sqlcreate.html

Other options included [using psycopg2](https://stackoverflow.com/questions/19426448/creating-a-postgresql-db-using-psycopg2) or [pre-migrate](https://docs.djangoproject.com/en/1.11/ref/signals

[2022-02-22 16:27] valcollignon commented on #1642
@abottoms-coder @ttran-hub @ADPennington and @lfrohlich to review next week per backlog refinement 2.22.22

[2022-02-22 16:40] valcollignon commented on #276
@reitermb @sreedevip to further refine this ticket as part of work on #1653.

[2022-02-22 16:43] ADPennington commented on #1640
noting for future reference--,once this ticket is addressed:

-  `sys admins` will need to confirm asynchronously  which region needs to be designated for someone that is assigned to the `OFA Regional Staff` permissions group
- `sys admins` will not be able to assign a meaningful region to an ACF user that is in any other federal permissions group (i.e. `OFA Admin`, `OFA Data Analyst`) because the

[2022-02-22 16:46] valcollignon commented on #1107
Reviewed briefly in backlog 2.22.22. @reitermb will review.

[2022-02-22 16:53] valcollignon commented on #1647
@abottoms-coder to refine further.

[2022-02-22 18:54] riatzukiza commented on #1647
`tdrs-backend-web-1          | django.core.exceptions.ImproperlyConfigured: 'colorfield' not needed since django 4.0, remove it from settings.INSTALLED_APPS.`
`tdrs-backend-web-1          | ModuleNotFoundError: No module named 'pytz'`

[2022-02-22 20:07] #1567 closed

[2022-02-23 14:23] raftmsohani commented on #1540
The parametrization is done using ["getfixturevalue"](https://docs.pytest.org/en/6.2.x/reference.html#pytest.FixtureRequest.getfixturevalue).

[2022-02-23 14:37] abottoms-coder commented on #1489
Ran into failures yesterday, added some environment variables in [this PR](https://github.com/raft-tech/TANF-app/pull/1654):

[code]

[2022-02-23 16:14] ADPennington commented on #1647
discussed on 2/23 dev sync. this is an enhancement to upgrade to django v4. for tdp, this is low priority. still in unrefined state. cc: @abottoms-coder

[2022-02-23 16:37] abottoms-coder opened #1658 "As a developer, I want to audit and update relevant fields available in DAC to be read-only"
**Description:**
_Provide a brief background and justification for this issue_
We continue to stumble into fields we want to be read-only in DAC so I am proposing a holistic audit of all fields in DAC.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] The relevant objects are read-only for all user types through Django Admin
- [ ]

[2022-02-23 16:40] ADPennington commented on #217
per 2/23 dev sync.
- @ADPennington review the ACs to double-check the field names
- @tdrs-developers revisit the STT model and determine strategy for having a model for each STT type (Tribe, terr, state)

[2022-02-24 15:14] abottoms-coder commented on #1439
Unfortunately, it doesn't appear that the environment our gunicorn_start shell script runs in has easy psql access -- there must be some non-traditional connector for the buildpack to allow django to connect to postgres. Attempting to run `sqlcreate` [here](https://github.com/raft-tech/TANF-app/blob/feat/1439-separate-rds-databases/tdrs-backend/gunicorn_start.sh#L6) resulted in these errors:

[cod

[2022-02-24 17:23] ADPennington commented on #1153
2/24 update: submitted ISA and related docs to ACF OCIO for review. cc: @lfrohlich

[2022-02-24 19:17] valcollignon commented on #1429
Onboarding risk mapping sessions ( @reitermb @sreedevip @valcollignon )
Part I: 2/22/22
Part II: 2/24/22

[2022-02-24 22:49] ADPennington commented on #1602
Let's start task 2 brainstorming at cross-functional sync tmor 2/25 @valcollignon @abottoms-coder @reitermb

[2022-02-28 06:55] reitermb opened #1662 "[Design] Change Account Requests"
**Description**
Stub ticket to close out #1001 and potentially be mapped to a TDP release (post V3). Can be refined to deliver design spec for change request management in TDP.

**Relevant notes from #1001**

Current change process:
1. User sends email to sys admin or sys owner to request change to their TDP access (e.g. change in group permissions, account deactivation, account reactivation ~~[no

[2022-02-28 19:31] ADPennington commented on #1387
@riatzukiza @abottoms-coder do we know why this ticket is still open? the PR has been merged.

[2022-02-28 21:27] ADPennington commented on #1534
2/28 update:

Currently testing on [`1534-updating-to-latest-zaproxy` branch](https://github.com/raft-tech/TANF-app/tree/feat/1534-updating-to-latest-zaproxy):
- `./tdrs-backend/docker-compose.yml` updated to latest zap version -- _want to see if this will fix this issue with non-TDP URLs from being scanned_
- `./.circleci/config.yml` updated to increase owasp scan timeout to 60min, have cron job

[2022-03-01 15:09] jorgegonzalez commented on #1358
Question about this AC, will ACF OCIO all have `@acf.hhs.gov` email addresses? In which case this AC may already be satisfied @ADPennington @abottoms-coder

[2022-03-01 15:11] abottoms-coder commented on #1358
I would expect this assumption is valid and this AC is satisfied.

[2022-03-01 15:20] abottoms-coder commented on #1358
@ADPennington Are you ok with this?

[2022-03-01 15:21] ADPennington commented on #1358
removed @jorgegonzalez @abottoms-coder

[2022-03-01 15:37] lfrohlich commented on #1387
This is complete with PR #1572

[2022-03-01 15:37] #1387 closed

[2022-03-01 15:46] ADPennington commented on #1153
3/1 update: let's confirm with nextgen team that we have access to xms lower environments. re: #1156

[2022-03-01 16:08] abottoms-coder commented on #1658
Per backlog refinement and @jorgegonzalez , the implementation follow-on to this ticket should be a light lift and could be implemented in this sprint (42).

[2022-03-01 16:19] abottoms-coder commented on #1410
Moved to product backlog per backlog refinement 3.1.22.

[2022-03-01 16:21] abottoms-coder commented on #1107
Discussed in backlog refinement 3.1.22 -- @reitermb to still review. He will test to see if applicable.

[2022-03-01 16:25] abottoms-coder commented on #1337
Per backlog refinement 3.1.22 -- will leave unrefined until #1335 is completed.

Per @jorgegonzalez, we should brainstorm similar tickets for the epic #1214 and transform this current ticket into a more holistic approach on auditing logging/emails.

[2022-03-01 17:02] ADPennington commented on #1156
3/1 update: confirmed that the lower environments are available so we can proceed with this ticket when `dev` is ready. cc: @abottoms-coder

[2022-03-01 17:12] ADPennington commented on #1642
@ttran-hub and I met on 3/1 to review the hackmd and go through the list of software installations needed on GFE to carry out the drill. We also discussed our cloud.gov org roles and possible risks associated with that. Hackmd includes these notes/questions for discussion with @lfrohlich. Next steps:

- @ttran-hub will inform once installations on his GFE are completed and cloud.gov credentials ha

[2022-03-01 17:23] abottoms-coder commented on #1419
Previously demo'd.

[2022-03-01 18:40] jorgegonzalez commented on #1358
Just saw this

If so, do we intend for users in this group to never see the frontend? Redirecting them straight to Django Admin reduces the added complexity of validating this on the frontend. So if that is the desired behavior, I'm updating the PR to support this shortly @ADPennington @abottoms-coder

[2022-03-01 18:48] ADPennington commented on #1358
@jorgegonzalez -- @lfrohlich and I just discussed and can confirm that this permission group can be redirected back to security url in DAC. they dont need to do anything on the frontend. maybe access to the profile page, but only if its easy. cc: @abottoms-coder

[2022-03-01 21:16] reitermb commented on #1376
Demoed by @reitermb on 3/1/2022

[2022-03-01 21:17] reitermb commented on #1596
Demoed by @reitermb on 3/1/2022

[2022-03-01 21:18] reitermb commented on #1387
Demoed by @riatzukiza on 3/1/2022

[2022-03-01 21:18] reitermb commented on #1495
Demoed by @jorgegonzalez on 3/1/2022

[2022-03-02 15:09] abottoms-coder commented on #1411
@reitermb

For item 1 here, this would require a larger burden of effort. Can we still be compliant without this piece? To ask another way, is this a nice-to-have or absolutely required?

For item 2, does this mean the contents are not tabbable without opening? Presumably we would want the opener arrows tabbable. Just a minor clarifying question.

cc @riatzukiza @jorgegonzalez

[2022-03-02 16:18] andrew-jameson commented on #831
Solutions:
* [Sentry](https://docs.sentry.io/platforms/python/)
* [Logstash](https://www.elastic.co/logstash/) -- integrated often with Elasticsearch
* [Prometheus](https://prometheus.io/)
* [Kibana](https://www.elastic.co/kibana) -- already in use
* [New Relic](https://newrelic.com/instant-observability/)
Please note we have a kibana dashboard already it just might need configuration we can't do:

[2022-03-02 21:34] reitermb commented on #1411
Clarifying scope:

The core goal here is to move from the **current state** where:
The sidenav is hidden at a certain window size / zoom level

to the **target state**:
100% of page content (including the sidenav) is viewable up to 200% zoom—including at smaller window sizes/low screen resolutions like 1280 X 768.

Reflowing the main content area instead of overlaying the sidenav _is_ a feasible a

[2022-03-02 21:44] riatzukiza commented on #1411
Already first day into this, the button doesn't work in our test website for django 508. I have the script from the admin panel source copied in, and have been able to make some changes. I can't see what is wrong

[2022-03-02 22:50] ADPennington commented on #1534
3/2 Update:

- changing the zap version in `./tdrs-backend/docker-compose.yml` **did not** prevent non-TDP URLs from being scanned.
- adding ID `100001: Unexpected Content-Type was returned` in `zap.config` and `hook.py` to be ignored did not prevent non-TDP URLs from being scanned (as JW noted in #1455)
- adding the non-TDP URLs to the `zap.config` as `OUTOFSCOPE` also **did not** prevent these n

[2022-03-03 13:33] ADPennington opened #1671 "Cloud.gov Buildpack Update (03-03-2022)"
### Description:

On 03-03-2022, cloud.gov sent us the following e-mail:

[code]

### Task(s)
- [ ] follow the steps [here](https://github.com/raft-tech/TANF-app/blob/raft-tdp-main/docs/Technical-Documentation/Architecture-Decision-Record/011-buildpacks.md#notes) to restage apps and open PR.

[2022-03-03 13:53] abottoms-coder opened #1672 "Cloud.gov restage needed"
Hi cloud.gov user,

cloud.gov frequently updates the programming language buildpacks available to
our customers. Buildpack updates include programming language updates and
often include security fixes.

We recently updated buildpacks in use by your applications. You should
restage or redeploy your applications to take advantage of the update.

Keep in mind that restaging is the quickest way to
upg

[2022-03-03 14:52] abottoms-coder commented on #1672
Dupe of #1671

[2022-03-03 14:52] #1672 closed

[2022-03-03 20:07] ADPennington commented on #1534
3/3 Update:

- added s3 urls to the exclusion list per sync with `dev`. running successfully--example [here](https://17052-281707402-gh.circle-artifacts.com/0/tdrs-backend/reports/owasp_report.html)
- Since we're keeping all TDP URLs in the scan, suggest keeping #1455 open and in backlog until [this zaproxy is addressed](https://github.com/zaproxy/zaproxy/issues/5212) is addressed. 100000 and 1000

[2022-03-04 15:34] jorgegonzalez commented on #1658
I've updated the AC of this ticket to align with the intent of the linked PR; as a side-note, the task listed " Update permissions on relevant page::field combinations to be read-only in nature." would not have been the correct approach; the PR does not modify user permissions in any way, as that would have implications for the API, but just locks down a set of models such that they cannot be chan

[2022-03-04 15:36] jorgegonzalez commented on #1630
Closing this ticket as this work in encapsulated in the PR for #1658

[2022-03-04 15:36] #1630 closed

[2022-03-04 15:57] jorgegonzalez commented on #1658
A separate but related problem to consider in maybe a follow-on ticket–auditing object *permission* in the app. After the PR for this ticket is merged, the problem of read-only objects in DAC goes away where relevant. But certain users will still be able to modify those objects by forming requests to the API directly. We've done a good job restricting the DataFiles object permissions, but there ar

[2022-03-04 17:07] riatzukiza opened #1676 "Task 1"

[2022-03-04 17:09] #1676 closed

[2022-03-04 19:04] #1534 closed

[2022-03-04 19:36] abottoms-coder commented on #1658
Excellent, thank you for taking a look, Jorge! I'll try to get to your PR soon. Good insight on the production op-sec potential.

[2022-03-06 23:48] reitermb commented on #1107
Currently getting a 400 error when I try to submit files so I'm blocked on re-testing the success message element of this, but I have confirmed that the no file selected bug still exists, as well as the download button disappearing when clicked.

Added a video and a little refinement to the ticket

[2022-03-07 16:37] lfrohlich commented on #1591
follow-on tickets have been created already - #1592 synthesis  &# 1593 project impact.

[2022-03-08 15:33] ADPennington commented on #1662
adding notes from [this comment](https://github.com/raft-tech/TANF-app/issues/1387#issuecomment-1022606603) for consideration:

Changes to a user's role or affiliation seem unlikely based on current practices, but there are some edge cases (noted below) that could be investigated and accounted for in a later release (v4+).

-  Users belonging to a federal permissions groups (i.e. those that begin

[2022-03-08 15:40] #1001 closed

[2022-03-08 16:22] lfrohlich commented on #126
This is no longer needed

[2022-03-08 16:22] #126 closed

[2022-03-08 16:23] #127 closed

[2022-03-08 16:24] #128 closed

[2022-03-08 16:39] lfrohlich commented on #1662
Need to investigate whether some tribes share individual contractors who submit data on their behalf

[2022-03-08 16:52] lfrohlich opened #1679 "As a Sys admin, I need to be able to deny requests for access to TDP"
**Description:**
System admin needs to be able to deny requests for access to TDP if a requestor is not verified to represent an STT.

TDP does not yet have functionality to facilitate denying a request for access to the system. Once the user submits the request access form, all they can do is authenticate into the system and access the `Home` and `Profile` tabs on the frontend. This will not chan

[2022-03-08 16:55] reitermb commented on #203
#1679 — Backlog 3/8/2022, UX method needed to deny access request in admin UI. Either as part of this ticket or a parallel one.

[2022-03-08 21:57] riatzukiza commented on #1411
Started a PR for this into DA508 https://github.com/raft-tech/django-admin-508/pull/16

[2022-03-08 21:58] riatzukiza commented on #1411
![image](https://user-images.githubusercontent.com/10676925/157332479-782481f3-9ebe-49be-96cd-b4923c01d378.png)
![image](https://user-images.githubusercontent.com/10676925/157332508-a13a6837-fa16-4efb-b705-309cff922546.png)
![image](https://user-images.githubusercontent.com/10676925/157332543-c311aae4-6027-4410-9d5c-7c773d01d00a.png)

[2022-03-09 16:10] ADPennington opened #1680 "As an unapproved grantee user, I want my requested STT in my profile"
**Description:**
Since #1387 was addressed, when an unapproved grantee  user (i.e. new non-ACF user) submits a new request to TDP by submitting a request form with  their first name, last name, and STT, their profile will have a default STT value of "federal government" until their permissions group is assigned. Instead, we want the requested STT in the profile.  The current behavior for an unappr

[2022-03-09 16:10] riatzukiza commented on #1680
![image](https://user-images.githubusercontent.com/10676925/157481815-f21eb717-4bdb-4c6c-835f-920008f852e1.png)

[2022-03-09 16:56] #1439 closed

[2022-03-10 19:57] abottoms-coder commented on #1156
Solved in #1561

[2022-03-10 19:57] #1156 closed

[2022-03-10 19:58] #1540 closed

[2022-03-11 18:23] andrew-jameson opened #1686 "As tech lead, I need updated version of Django and ipython to resolve known vulnerabilities"
**Description:**
_Provide a brief background and justification for this issue_
Previously, we merged an updated Pipfile in [this PR](https://github.com/raft-tech/TANF-app/pull/1635) then then had to [revert these](https://github.com/raft-tech/TANF-app/pull/1656) changes as the deployment failed going to staging so I believe there is a buildchain difference between Docker and Buildpacks. Our old br

[2022-03-11 21:26] riatzukiza commented on #1411
Waiting for review in django admin 508 repo to introduce the new version here.

[2022-03-13 03:47] raftmsohani commented on #1561
Getting error using the [commit](https://github.com/raft-tech/TANF-app/commit/86f2c8a3edd7399bfa604b01a444a6f044c6b911) with XMS-1003 code.
![image.png](https://images.zenhubusercontent.com/61d3697f7808855468eeaafa/3414d2b9-8763-4c95-8adf-fb1e49898ec9)

Looks like the body data is not correct.

[2022-03-14 15:17] ADPennington opened #1690 "As a system admin, I need a way to be redirected to frontend from DAC"
**Description:**
When #1668 is merged, we will have an `acf ocio` permissions group that will allow members to:
- have read-only access to owasp and clamav scans in DAC
- have access to the home page (that includes a list permissions the user has in TDP) on the frontend
- have access to their profile page on the frontend

We noticed during tabletop that there isn't an easy way (e.g. a link) for th

[2022-03-14 15:24] reitermb commented on #1429
On track for QASP later today

[2022-03-14 16:45] lfrohlich commented on #914
Received draft from cloud.gov for review 3/11. Plan to start FISMA moderate w/ 7GB/month starting May

[2022-03-14 17:38] #1358 closed

[2022-03-14 19:06] lfrohlich commented on #1592
@reitermb please add the hack.md link to the description when you get a chance. thanks

[2022-03-15 14:18] reitermb opened #1691 "As a grantee Pilot user I want to know how to get started in TDP"
**Description**
Delivers a welcome email for the TDP pilot program. This serves as the first formal step of onboarding–a jumping off point that will prompt the user about what to expect in TDP, how to create an account, and other first steps.

Complements #1653 by delivering getting-started specific content. This content should get a user up and running in TDP, the rest of the onboarding content s

[2022-03-15 14:24] ADPennington opened #1692 "As a non-ACF OCIO user, I need the ability to submit data files"
Thank you for taking the time to let us know about the issue you found. The basic rule for bug reporting is that
something isn't working the way one would expect it to work. Please provide us with the information requested
below and we will look at it as soon as we are able.

## Description

I no longer have the ability to submit data files as a `Data Analyst`, `OFA Admin`, `OFA Regional Staff`, a

[2022-03-15 14:28] reitermb opened #1693 "As a grantee pilot user I want to be able to access the knowledge center through project updates environment"
**Business Value**
As a Grantee Pilot User,
I want to be able to be able to help myself navigate through TDP
So that I can insure my understanding of the TDP platform and continue to do my job

**Description**
Delivers a design for an in-app knowledge base which aggregates all onboarding/support content. May also contain existing materials like data coding instructions.

4/25
Planning to utilize P

[2022-03-15 17:25] riatzukiza opened #1694 "Deploying a different branch to any named instance overwrites django admin static files."
**Description:**

In testing a recent update to django admin 508 we encountered differences between local testing environments and the deployed environment that likely arose from css files from another deployment.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] Deployments to a different domain don't affect other django admin sta

[2022-03-15 18:17] reitermb commented on #1591
Demoed by @reitermb on 3/15/2022

[2022-03-15 18:18] lfrohlich commented on #1592
I added comments to the hack.md @reitermb @sreedevip. it does seem like the project impact abruptly ends-- is there any more to say there?

[2022-03-15 18:18] reitermb commented on #1358
Demoed by @jorgegonzalez  on 3/15/2022

[2022-03-15 18:19] reitermb commented on #1439
Demoed by @abottoms-coder on 3/15/2022

[2022-03-15 18:19] reitermb commented on #1534
Demoed by @abottoms-coder on 3/15/2022

[2022-03-16 12:56] ADPennington commented on #726
3/16 Update:

the following have been added to acf hhs dns servers:

[code]
Details are in [OneNote](https://hhsgov.sharepoint.com/sites/TANFDataPortalOFA/_layouts/15/Doc.aspx?sourcedoc={cbce2e75-17b2-4e70-b422-60d034fcd4af}&action=edit&wd=target%28Dev%20Notes.one%7C3dbb7d3a-694d-4f1c-a656-f907991c1f7d%2F[DNS](onenote:https://hhsgov.sharepoint.com/sites/TANFDataPortalOFA/SiteAssets/TANF%20Data%20P

[2022-03-16 14:18] abottoms-coder commented on #1694
Please reference the s3 prefixes in #1347 when refining this ticket. I think this will solve this issue.

[2022-03-16 15:27] ADPennington commented on #1577
3/16/22:

- decided during dev sync to revisit this ticket after nextgen xms epic (#1153) completed.
- dependabot security alerts (highs and criticals) will be discussed weekly at dev syncs.

[2022-03-16 15:27] ADPennington commented on #1686
3/16/22:

- decided during dev sync to revisit this ticket after nextgen xms epic (#1153) completed.
- dependabot security alerts (highs and criticals) will be discussed weekly at dev syncs.

[2022-03-16 15:32] ADPennington commented on #1679
3/16/2022 dev sync:
- what result does user want to see when status is changed? we want to send an email
- this needs R&D work before dev can refine cc: @reitermb

[2022-03-16 21:19] abottoms-coder commented on #1561
Emailed Michael Hugney at DeLoitte with above error and our url/configuration(s). Paired with Mo and got a WIP PR opened for deployment to recreate his local environment error in our dev env. Hope to see this needle move soon.

### Configuration/Solution:

[code]

### URL request:
[code]

[2022-03-21 16:40] ADPennington commented on #1282
**3/21/update**: I will not open a draft PR for this issue until #1674 is merged. It is ideal for the screenshots in this markdown (which will be included in our [SSP](https://hhsgov.sharepoint.com/:w:/r/sites/TANFDataPortalOFA/Shared%20Documents/compliance/ATO/ATO%20Package%205.18.21/TDP%20-%20System-Security-Plan_ACF-OCIO.20210513.docx?d=wfcfad109ba61487a9ce4751815225564&csf=1&web=1&e=ffSgRf) to

[2022-03-21 18:40] lfrohlich commented on #914
The IAA is complete and we will move to production in the HHS-ACF-OFA organization starting in May 2022

[2022-03-21 18:40] #914 closed

[2022-03-21 20:36] #1376 closed

[2022-03-21 20:40] ADPennington commented on #1642
3.21.2022:

@ttran-hub and I met today to install CF CLI and go through step 1 of the drill. Standing by for feedback on whether Step 2 of drill can be done successfully from GFE (i.e. hhs windows machine).

[2022-03-21 20:40] #1592 closed

[2022-03-21 21:39] ttran-hub commented on #1642
Thanks @ADPennington!
Step 2. FAILED with "Error opening SSH connection: ssh: handshake failed: ssh: unable to authenticate, attempted methods [password none], no supported methods remain"

[2022-03-22 14:01] andrew-jameson opened #1705 "As a tech lead, I want frontend linter `prettier` issues to fail the CI pipeline"
**Description:**
_Provide a brief background and justification for this issue_
While working on a frontend ticket, @riatzukiza was running into a `prettier` linter issue for local development but which does not fail the CircleCI build (although it is present there too!). We also have the `eslint` linter which will fail the CI pipeline. The use of two disparate linters for the frontend is redundant

[2022-03-22 14:44] ADPennington commented on #1642
thanks for the update @ttran-hub! I have updated drill Step 2 after some additional testing. We now have Step 2a (for ssh'ing on non-GFE) and Step 2b (for ssh'ing on GFE). Please note:

- We will need to use Step 2b when using GFE.
- You will need to download `jq` and `cURL` to proceed with Step 2b. Please refer to the links in the hackmd for download. You may need ITIO's help for install.
- Once

[2022-03-22 15:43] lfrohlich commented on #1185
Closed as Alex's comment fulfilled it. Also copied into [OneNote](https://hhsgov.sharepoint.com/sites/TANFDataPortalOFA/_layouts/OneNote.aspx?id=%2Fsites%2FTANFDataPortalOFA%2FSiteAssets%2FTANF%20Data%20Portal%20%28OFA%29%20Notebook&wd=target%28Compliance.one%7CD9B65AB8-BF29-476A-A652-D003714E50A4%2FPOAM%20Update%20process%7C92C1711C-958D-4228-8C9C-FA26E33D3878%2F%29
onenote:https://hhsgov.sharepo

[2022-03-22 15:43] #1185 closed

[2022-03-22 18:57] reitermb commented on #1653
Further refined 3/22/2022

[2022-03-22 19:05] reitermb commented on #1462
Splitting this out into additional tickets:
- One for notification drafts
- One for sessions w/ DIGIT/Regional Staff
- One for HTML templates

[2022-03-22 20:03] abottoms-coder commented on #1561
@raftmsohani

The reason our logging "wasn't working" was due to the fact their request was a POST, not a get like the other authentication sources. Adding the post request and then forwarding over the request results in some useful logging:

[code]

[code]

Logging:
[code]

[2022-03-22 22:10] andrew-jameson opened #1707 "As a developer, I want to improve our backend logging formatter"
**Description:**
_Provide a brief background and justification for this issue_
To improve our debugging and troubleshooting, we could get change the formatters utilized in `common.py`.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [x] Logs have code-location information.
- [x] Logs are visible in cloud.gov's Logstream or accessible

[2022-03-22 22:11] abottoms-coder commented on #1561
Pushing commit which results in this backend response for the user:

[code]

[2022-03-22 23:04] stevenino commented on #972
This is preventing epic https://github.com/raft-tech/TANF-app/issues/972 from closing. Is this still required for v1?

[2022-03-23 03:44] reitermb opened #1708 "[Design] HTML email templates (v2)"
**Description:**
Delivers compliant HTML email templates and documentation regarding email triggers for V2 notification events

**AC:**

- [x] Documentation work for the following has occurred:
   - [x] Notification triggers
- [x] The design is usable, meaning it adheres to definition of done standards for project design work.

- [ ] Dev/Design sync has occurred; resulting tickets created.

**Task

[2022-03-23 03:59] reitermb opened #1709 "[Research] V2 Notifications Evaluation Session"
**Description:**
Facilitates session with regional staff to test/critique/discuss V2 notifications content

**AC:**
- [ ] Session with OFA Regional Staff has occurred
- [ ] Session notes or other top-line synthesis is documented.

**Tasks:**
- [ ] Pair with Lauren to schedule session
- [ ] Facilitate session
- [ ] Capture notes from session
- [ ] Create follow-on ticket—if needed (for design chang

[2022-03-23 14:13] sreedevip commented on #1462
Updated tasks to reflect Notification triggers in Figma user flows. This task was part of the original ticket, but was missing from the latest rewrite on 3.22
@reitermb @stevenino @lfrohlich

[2022-03-23 15:21] abottoms-coder commented on #1686
If we can resolve this, I believe this will also address a vulnerability with `Pillow` as we need to bump from 9.0.0 to 9.0.1

[2022-03-23 16:09] lfrohlich commented on #1462
@sreedevip  updates look good
@reitermb  can you add the numbers of the tickets that were split out?

[2022-03-23 16:34] reitermb commented on #1708
Took out triggers from this email because we believe it fits well in #1462 / remainder of the sprint

[2022-03-23 16:51] stevenino commented on #958
@lfrohlich Closing this ticket since it has now been superseded by 1462, 1708 and 1709.

cc: @reitermb @sreedevip

[2022-03-23 16:51] #958 closed

[2022-03-23 17:11] stevenino commented on #1493
This ticket is still required for epic https://github.com/raft-tech/TANF-app/issues/972 but it does not have have to be completed as part of v1.0. It can be done as part of a supplemental release.

[2022-03-24 18:34] raftmsohani commented on #1561
Screenshots from XMS login:
After pushing the button on the frontend to login:

![xms1.PNG](https://images.zenhubusercontent.com/61d3697f7808855468eeaafa/22b78cd9-fd0b-4b2b-9cf5-e7d5f3a8365c)

![xms2.PNG](https://images.zenhubusercontent.com/61d3697f7808855468eeaafa/0a1fab1f-73c2-40f2-be2e-1f13ca09a02e)

![xms3.PNG](https://images.zenhubusercontent.com/61d3697f7808855468eeaafa/417b8c03-5735-46b2-8

[2022-03-24 18:35] raftmsohani commented on #1561
TODO: We still need to add the conde to handle login

[2022-03-28 14:01] andrew-jameson opened #1716 "As tech lead, I do not want to see npm warnings during build"
**Description:**
_Provide a brief background and justification for this issue_
While building locally, I noticed we have a host of depreciation warnings that we should seek to resolve. While reading about the npm ecosystem, warning spam is a common problem but these all appear to be because we are using old versions of these packages. This ticket is intended to capture upgrading our versions of ou

[2022-03-28 16:58] abottoms-coder commented on #1489
If the local environment variable is empty, cloud.gov will say "OK" but not create the environment variable. This is required when running `deploy-backend.sh` you must set ALL environment variables locally.

[2022-03-28 18:44] #1640 closed

[2022-03-28 20:45] ADPennington commented on #1642
@ttran-hub and I met today 3/28 to walk through the abovementioned steps. Notes:

- we confirmed that JQ and CURL are installed
- we had to change his space roles in cloud.gov so that he has proper permissions to access. after doing this, we were able to get through all steps.
- He will now proceed with trying to assign his own permissions and let us know the results (we ran into some unknown issu

[2022-03-28 21:05] ttran-hub commented on #1642
Thanks Alex!  restart terminal and successfully assigned OFA Sys. Admin role!

[2022-03-29 13:50] sreedevip opened #1717 "Project Impact workshop for Sitemap Surveys"
**AC**
- [ ] Results of the tree test (Sitemap Survey) have been analyzed and findings shared with the team to discuss potential changes to the Information Architecture
- [ ] Changes have been reflected in the Sitemap if applicable [536](https://app.zenhub.com/workspaces/tdrs-sprint-board-5f18ab06dfd91c000f7e682e/issues/raft-tech/tanf-app/536)

**Tasks for Project Impacts for the team**

- [ ] Det

[2022-03-29 13:57] sreedevip commented on #1593
Internal Project Impact workshop for Sitemap Survey - originally part of this ticket - is now a new ticket #1717. As per Mattermost discussion on 3.28.2022
This ticket to be pulled into the current sprint starting 3.29.2022
@lfrohlich @reitermb @stevenino @ADPennington

[2022-03-29 14:13] reitermb commented on #1637
Estimate ~a 3 point carryover for this as of 3/29/2022

[2022-03-29 14:28] sreedevip commented on #1717
This ticket is a result of splitting #1593 into Project Updates and Project Impact workshop for Sitemap Surveys, as agreed upon during a Mattermost discussion on 3.28.2022.
@lfrohlich @stevenino @reitermb @ADPennington

[2022-03-29 16:15] ADPennington commented on #1641
drill scheduled for 4/4.

[2022-03-29 16:16] ADPennington commented on #1642
drill scheduled for 4/4.

[2022-03-29 17:06] lfrohlich commented on #1462
I added comments in the hack.md

[2022-03-29 17:07] lfrohlich commented on #1462
@sreedevip or @reitermb can you update the bullets of our user stories above to match the latest in hack.md?

[2022-03-29 18:16] reitermb commented on #1462
They should all match now!

[2022-03-29 19:09] stevenino commented on #895
Can't be started until May 1, 2022

[2022-03-29 19:12] ADPennington commented on #897
per 3/29 backlog, closing. will do this as a task with #895.

[2022-03-29 19:15] stevenino commented on #1157
No longer required per backlog refinement on 2/29/22

[2022-03-29 19:15] #1157 closed

[2022-03-29 19:20] #1060 closed

[2022-03-29 19:28] ADPennington commented on #1628
not needed. nextgen doesnt have a corresponding prod server like ams (#1627).

[2022-03-29 19:28] #1628 closed

[2022-03-29 19:54] stevenino commented on #953
Will be discussed at the next IPT meeting. Not required for v1

[2022-03-29 22:02] stevenino commented on #1155
Not technically required for v1.0

[2022-03-29 22:02] stevenino commented on #1559
Not technically required for v1.0

[2022-03-29 22:04] stevenino commented on #1558
Required for v1.0

[2022-03-30 14:13] abottoms-coder commented on #1415
@reitermb Can you update the description of this ticket with the os/browser that exhibits the issues compared to Chrome? Should we be testing from Safari for example?

[2022-03-30 15:49] abottoms-coder commented on #726
While pairing with @ADPennington, we have set the domain in the first  and third step from linked documentation but realized we cannot create routes to non-existent apps. To deploy the apps successfully, we will *want* Terraform and CircleCI workflows for creation of tf-states and initialization of infrastructure necessary for linking the apps to services such as the database and static-files s3.

[2022-03-30 15:50] ADPennington commented on #726
re: @abottoms-coder's comment, below we see the domains created.

[code]

[2022-03-30 16:28] stevenino commented on #895
This can be started prior to the production environment being available on May 1st.

[2022-03-30 18:20] stevenino commented on #1593
@reitermb @sreedevip Looks good to me!

[2022-03-31 16:04] riatzukiza opened #1723 "Enable announcement of error messages for screen reader users"
## Background ##
In the Django Admin panel, which is backend-rendered, screen readers read the entire page when an update occurs, instead of just the newly added content. This results in users having to listen to non-relevant page content before hearing error messages.

To improve the experience for screen reader users, we are exploring two implementation approaches:
1. Add "skip to error" style l

[2022-04-01 14:44] abottoms-coder opened #1726 "As tech lead, I need our release strategy documented"
**Description:**
_Provide a brief background and justification for this issue_
As we approach release 1, we do not appear to have documented how to handle versions/releases either for labelling, merging, nor deployments.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [x] Our release and branching strategy is updated/documented
- [x]

[2022-04-01 17:07] #1692 closed

[2022-04-04 15:17] lfrohlich commented on #1462
Added question to hack.md: move "I want to be notified when my level of access to TDP has been changed." to V3 or beyond

[2022-04-04 15:30] lfrohlich commented on #1462
Added a Table of Contents

[2022-04-04 15:30] #1462 closed

[2022-04-04 15:51] jorgegonzalez commented on #1487
This is addressed in a [PR](https://github.com/raft-tech/django-admin-508/pull/23) in DA508 and will be added to TDRS shortly

[2022-04-04 19:19] ADPennington commented on #1642
drill completed on 4/4. Notes:

- we added syntax for reactivating a deactivated account
- we will add step in communication protocol to include reaching out to cloud.gov in the scenario where account restoration steps fail (e.g. because evil user also compromised sys admin's cloud.gov account).
- i will update IRP to reference drill documentation.

cc: @lfrohlich @ttran-hub

[2022-04-05 15:17] stevenino commented on #1716
Very low priority. This is a cosmetic change.

[2022-04-05 15:59] ADPennington opened #1733 "Investigate various automated ERD tools"

[2022-04-05 16:00] ADPennington commented on #1733
mouse slipped. closing 😄

[2022-04-05 16:21] stevenino commented on #1335
Need to discuss at TDP IPT meeting on 4/6/22. Once there is clarification on the email server requirements we can move forward with this spike ticket.

[2022-04-05 19:06] stevenino commented on #1707
This should be done in the v2 timeframe. It will facilitate debugging in the future.

[2022-04-05 19:09] stevenino commented on #1723
Fully refined. This is low priority becuase Django will only be used by a couple of people.

[2022-04-05 19:12] stevenino commented on #1410
Fully refined. This is low priority because Django will only be used by a couple of people and there is higher priority work that is required to meet the release schedule goals.

[2022-04-06 13:30] abottoms-coder commented on #1631
Another update on support's solution: they are working on an open-source repo to solve this problem. He will provide me a link to the repo once it is available but this would be alpha/beta software where we would be guinea pigs. The best option, despite the rework, is to pursue both solutions. Have our in-house pgdump to s3/pgrestore from s3 scripting and then to work with cloud.gov support on mat

[2022-04-06 15:42] abottoms-coder opened #1736 "As a developer, I need to know the file naming convention for ACF Titan"
**Description:**
_Provide a brief background and justification for this issue_
In preparation for transferring files to ACF Titan, we need to strictly follow their filename nomenclature and have our application rename files.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] Function returns a completed filename for use by the sftp

[2022-04-06 16:59] lfrohlich commented on #953
Per IPT 4/6/22 -- HHS trainings should be sufficient. Alex and Thomas will need to submit certificates annually.

[2022-04-06 17:01] ADPennington commented on #953
recommend we write a security control implementation statement relevant to AT series  and store it [here](https://github.com/raft-tech/TANF-app/tree/raft-tdp-main/docs/Security-Compliance/Security-Controls) with the others. cc: @lfrohlich @stevenino

[2022-04-06 17:13] stevenino commented on #953
Would that be an AC for this ticket or can we close this ticket now as not required?

[2022-04-06 18:53] stevenino opened #1737 "SFTP Transfer"
**Description:**
_Provide a brief background and justification for this issue_

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] _Outcome 1_
- [ ] _Outcome 2_
- [ ] _Outcome 3_
- [ ] Testing Checklist has been run and all tests pass
- [ ] README is updated, if necessary

**Tasks:**
_Create a list of granular, specific work items th

[2022-04-06 19:01] abottoms-coder commented on #1737
@stevenino -- I converted #1133 from an epic into an issue because there weren't sufficient child tickets. Why was this duplicate made?

[2022-04-06 19:01] #1614 closed

[2022-04-06 19:08] stevenino commented on #1737
I created a new epic to link to #1133 and #1736 in order to stay consistent with the roadmap. I think this delivers enough value to warrant an epic.

[2022-04-06 20:13] ADPennington commented on #953
i updated ACs @stevenino.

[2022-04-08 03:37] reitermb commented on #1593
Git hosted images:
![Admin pirveleges](https://user-images.githubusercontent.com/28515874/162357893-d89eaaf5-652c-4760-9da9-2eea9ae66179.jpg)
![Data Dashboard](https://user-images.githubusercontent.com/28515874/162357896-e3762c45-6c1b-430c-abf9-a9388f28506e.jpg)
![Data Files](https://user-images.githubusercontent.com/28515874/162357897-85a4c40c-430e-40ed-b80e-3de69cd3d8d0.jpg)
![Feedback Report](h

[2022-04-08 14:37] ADPennington commented on #1288
submitted draft sorn to OCIO for review on 4/8.

[2022-04-08 15:20] lfrohlich commented on #1593
This is good to go. Will wait to update OFA and grantees

[2022-04-08 15:55] stevenino commented on #1241
Can this be an email address for 2.0?

[2022-04-11 13:04] #1658 closed

[2022-04-11 13:11] #1642 closed

[2022-04-11 16:21] #1562 closed

[2022-04-11 18:05] lfrohlich commented on #1637
@ADPennington see the hack.md for review

[2022-04-11 18:34] lfrohlich commented on #1335
do we need any more info before initiating this spike now that we know we need to use HHS mail relay? @abottoms-coder  cc: @stevenino @ADPennington

[2022-04-11 18:36] stevenino commented on #1335
To me this spike either goes away or gets repurposed since we no longer have to evaluate different email servers.

[2022-04-11 18:41] abottoms-coder commented on #1335
In my view, we should close this ticket. Once we have dev-actionable information from HHS, we would write a new ticket and prioritize it.

[2022-04-11 18:42] lfrohlich commented on #1335
we should discuss what dev-actionable info we need

[2022-04-11 19:01] stevenino commented on #1637
@reitermb Look at comments in the HackMD

[2022-04-12 15:13] ADPennington opened #1744 "As tech lead, I want only approved TDP users with data submission permissions to have the ability to view/submit data files"
**Description:**

[Data-files page](https://tdp-frontend-develop.app.cloud.gov/data-files) is currently visible for any authenticated user, even those who have not been assigned to a permissions group. This is not necessary and could introduce security issues if we add sensitive content to this page.

Additionally, authenticated users who are not in an `approved` state (e.g. pending with a data an

[2022-04-12 15:18] #1414 closed

[2022-04-12 15:18] #1411 closed

[2022-04-12 15:18] #1412 closed

[2022-04-12 19:14] #1487 closed

[2022-04-12 19:24] stevenino commented on #1007
SORN dependency no longer applicable per backlog refinement on 4/12/22

[2022-04-12 19:29] ADPennington commented on #1288
@abottoms-coder proposed retention policy for raw files in S3  in the summary of this ticket.

[2022-04-12 19:34] stevenino commented on #1440
Should be worked prior to #1007

[2022-04-12 19:40] stevenino commented on #1104
Can start when #1133 is worked

[2022-04-12 20:01] stevenino commented on #1335
Not required since HHS email server (ironport) has to be used per backlog refinement on 4/12/22

[2022-04-12 20:01] #1335 closed

[2022-04-12 20:10] stevenino commented on #1489
High priority DX tix

[2022-04-12 20:16] ADPennington commented on #895
added a task related to updating ADRs. cc: @jorgegonzalez

[2022-04-12 20:19] ADPennington opened #1745 "[Draft] Configure HHS:Main CircleCI jobs to deploy to the staging space"
**Description:**
_This ticket will be update to mirror #895 after it is refined_

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] _Outcome 1_
- [ ] _Outcome 2_
- [ ] _Outcome 3_
- [ ] Testing Checklist has been run and all tests pass
- [ ] README is updated, if necessary

**Tasks:**
_Create a list of granular, specific work items

[2022-04-12 20:25] ADPennington opened #1746 "[Draft] Configure raft-tech/tanf-app:develop CircleCI jobs to deploy to the raft staging space"
**Description:**
_Follow-on ticket to #1731 that needs refinement_

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] _Outcome 1_
- [ ] _Outcome 2_
- [ ] _Outcome 3_
- [ ] Testing Checklist has been run and all tests pass
- [ ] README is updated, if necessary

**Tasks:**
_Create a list of granular, specific work items that must be c

[2022-04-13 13:03] #1593 closed

[2022-04-13 13:53] #1726 closed

[2022-04-13 18:35] stevenino commented on #885
@lfrohlich Can we close this?

[2022-04-13 18:37] lfrohlich commented on #885
I think @ADPennington had one more drill in mind

[2022-04-13 18:39] lfrohlich opened #1750 "[Incident Response Drill] As a developer, I need to know how to troubleshoot a failed deploy"
During Sprint 44, we experienced a number of failed deployments, each of which appear to be for different reasons. As we're hardening our gitflow from development through production, it is important to document the circumstances around the failures,  root cause(s), how these were resolved, and lessons learned (i.e. post-mortem). This will help guide TDP developers in troubleshooting any future, si

[2022-04-13 18:40] lfrohlich commented on #885
Converted task into an issue: https://github.com/raft-tech/TANF-app/issues/1750

[2022-04-14 16:57] lfrohlich commented on #1637
@reitermb I added a few comments as well. I think these should be addressed before we show to DIGIT. Moving back to in progress

[2022-04-15 14:48] lfrohlich opened #1752 "As a STT analyst, I can upload SSP data"
Description: TDP does not currently differentiate for uploading SSP data.

[2022-04-15 15:18] ADPennington commented on #960
revisit after #1605 refined.

[2022-04-15 15:27] ADPennington commented on #1679
marked V3 for now, but let's revisit if we start getting a lot of requests for access from unvetted users.

[2022-04-15 15:39] stevenino commented on #1385
Requires additional conversations with @reitermb @ttran-hub

[2022-04-15 17:46] ADPennington opened #1754 "Configure nightly owasp scans to run on additional branches"
**Description:**
Currently, nightly scan jobs run on the `raft-tech/tanf-app:develop` [branch](https://github.com/raft-tech/TANF-app/blob/8d90f867fa8cf8be641eed4f9e8472e475f80a65/.circleci/config.yml#L604), and these reports are stored in [TDP staging backend](https://github.com/raft-tech/TANF-app/blob/8d90f867fa8cf8be641eed4f9e8472e475f80a65/.circleci/config.yml#L452-L478).

We need these scans t

[2022-04-18 20:48] ADPennington opened #1755 "As an STT data analyst, I need to tell TDP which data report I am uploading"
**Description:**
As of April 2022, 16 STTs submit -- in addition to the TANF Data Report -- the SSP-MOE Data Report (see list [here](https://github.com/raft-tech/TANF-app/blob/develop/tdrs-backend/tdpservice/stts/management/commands/data/states.csv)) through TDRS. These reports are very similar (e.g. submitted quarterly, up to 4 sections are submitted, up to 7 types of records that need to be pars

[2022-04-18 21:10] ADPennington commented on #1755
@reitermb feel free to add any add'l context on figma mockup

[2022-04-19 15:12] stevenino commented on #1746
Requires refinement review by @abottoms-coder

[2022-04-19 15:13] stevenino commented on #1745
Requires refinement review by @abottoms-coder

[2022-04-19 15:17] stevenino commented on #1752
Closed as duplicate of #1755

[2022-04-19 15:46] stevenino commented on #1498
Closed as a duplicate of #1495  per backlog refinement 4/19/22

[2022-04-19 15:46] #1498 closed

[2022-04-19 15:47] stevenino commented on #1496
Closed as a duplicate of #1495  per backlog refinement 4/19/22

[2022-04-19 15:47] #1496 closed

[2022-04-19 15:54] stevenino commented on #1385
HTML site map required for pilot release MVP.

[2022-04-19 16:34] stevenino commented on #1755
@reitermb to create a R&D ticket to refine this ticket. New ticket will block this ticket

[2022-04-19 16:50] stevenino opened #1756 "SSP vs. TANF Data Differentiation"
Allow differentiation between TANF and SSP data.

[2022-04-19 16:52] stevenino commented on #1755
Not required for initial pilot release but a nice to have at a later pilot release if SSP data users enter the pilot program (~Nov 2022)

[2022-04-19 16:54] stevenino commented on #1385
Once research is complete. Dev ticket will need to be created and implemented to release v2.0 (Pilot release MVP)

[2022-04-19 17:18] reitermb opened #1757 "[Dev-ready Design] TANF / SSP-MOE Search Control"
**Description:**

Delivers an updated spec for being able to search for SSP-MOE as well as just TANF data files. Our original design for this was an extremely informal one generated as part of an early-project ideation session and needs to be updated for consistency with current-state TDP design. Noting that we've been referring to this in discussions as a "dropdown", but the preferred form contro

[2022-04-25 13:13] reitermb commented on #1643
Close in favor of #1653

[2022-04-25 17:27] #1560 closed

[2022-04-26 14:28] lfrohlich commented on #1637
per @reitermb 4/22/22: All of it should be ready for further review here: https://hackmd.io/@mreiter/ryyoEcyE5 Images and language tweaks

[2022-04-26 18:57] abottoms-coder commented on #1754
Short: We might catch an issue prior to a subsequent release/version bump.

Long: `hhs:main` will be a series of release-only merges and therefore our present staging environment will majorly only contain release-oriented code. `raft-tech:develop` might have devops/DX or other minor feature inclusions not destined for our current release cycle; put another way, staging may lag behind develop. Whil

[2022-04-26 19:04] stevenino commented on #1746
To be discussed at dev sync on 5/4/22

[2022-04-26 19:05] stevenino commented on #1745
To be discussed at dev sync on 5/4/22

[2022-04-26 19:42] lfrohlich commented on #753
Sent another email 4/26/22

[2022-04-26 19:48] stevenino commented on #1314
@reitermb to schedule meeting week 5/2/22

[2022-04-29 19:24] ADPennington commented on #897
re-opening this. we will need to confirm that the appropriate env var key value pairs are set in prod. includes:

- sftp env vars (#1737)
- nextgen env vars (#1153)
- acf ams env vars (#1627)

[2022-05-02 12:24] #1619 closed

[2022-05-02 13:21] abottoms-coder commented on #726
FYI @ADPennington @jorgegonzalez

Steps completed:

[code]

[2022-05-02 18:12] #895 closed

[2022-05-02 20:32] andrew-jameson commented on #1112
@reitermb Is there duplication in this ticket vs #1757 ?

[2022-05-03 15:08] lfrohlich commented on #1288
Pinged and asked for a review timeline 5.3.22

[2022-05-03 16:10] lfrohlich commented on #1637
DIGIT has reviewed. @reitermb please see additional comments in the hack.md

[2022-05-03 18:25] stevenino commented on #1183
@lfrohlich @ADPennington Is this epic ready to close?

[2022-05-04 13:57] stevenino commented on #1314
Held meeting on 5/3/22. Path forward is to create a new epic to capture the work to create a research oriented TDP environment.

[2022-05-04 13:59] stevenino opened #1769 "Research Oriented TDP Environment"

[2022-05-04 14:35] andrew-jameson commented on #1707
After resolution of the Cloud.gov LogStream, I no longer feel we need to also log to a file so I no longer think we need to evaluate that acceptance criteria. Additionally, I don't feel like this is the ticket for scouring all of our logging statements and making them pretty -- that will and should be an iterative process.

[2022-05-04 16:15] #1314 closed

[2022-05-04 21:03] andrew-jameson opened #1772 "As a TDP user, I see errors when attempting to submit files"
## Description
When attempting to upload data files, I receive a error message from the frontend.

## Action Taken
After login, click "data files", search any year/qtr, upload file for section 1, click submit.

## What I expected to see
A successful submission message.

## What I did see
In addition to the "network error" below, I've also seen 500 error.
![image](https://user-images.githubusercont

[2022-05-04 21:04] andrew-jameson commented on #1772
@ADPennington @stevenino Do we have bandwidth to pull this into current sprint or should it be next sprint?

[2022-05-04 21:11] stevenino commented on #1772
I prefer to wait until next sprint unless any of the developers have completed all of their in progress tickets.

[2022-05-05 14:31] ADPennington commented on #1627
change request form submitted to ACF OCIO on 5/5.

[2022-05-05 23:24] stevenino commented on #1288
Moved this back to refined backlog since it is blocked and no active work is being done on it.

[2022-05-06 15:10] lfrohlich commented on #1627
From Selam Teferi (OCIO) 5/5/22:   I am the new change manager letting you know CR#  CHG0031574 for ACF AMS Integration in TDP Production has been created. Is there an exact date and time I can schedule the deployment?
Alex asked: Will we need to be available on standby when you deploy? And should we schedule a time to exchange information like the TDP production URLs and client ID and keys?

[2022-05-06 15:27] stevenino commented on #1602
No longer required per product sync on 5/6

[2022-05-06 15:27] #1602 closed

[2022-05-06 15:51] #1183 closed

[2022-05-06 21:03] stevenino commented on #1627
Expected to be completed by 5/18/22

[2022-05-06 22:03] stevenino commented on #1420
@lfrohlich @ADPennington Can we close this epic?

[2022-05-06 22:06] stevenino commented on #1590
Waiting for Dev tix to be written after #1385 is completed

[2022-05-06 22:07] stevenino commented on #1240
Waiting for UX tix to be completed to write Dev lift tix.

[2022-05-06 22:08] stevenino commented on #1214
Need to write backend email tix along with the required email notification tix for pilot program.

[2022-05-09 13:37] lfrohlich commented on #1420
All issues complete -- closing

[2022-05-09 13:37] #1420 closed

[2022-05-09 14:35] andrew-jameson commented on #1736
Investigating `tdrs-backend/stts/management/populate_stts.py` so that @raftmsohani 's function can be tested and iterated with data from the filenames column from the csvs in `stts/management/data`.

[2022-05-09 17:56] ADPennington commented on #1627
@andrew-jameson and I will meet with ACF AMS Ops on 5/16 at 10:30a EST to exchange configuration information and test authentication in `tanf-prod`. Confirmed with Ops team that successful testing during this pairing session is sufficient to close this issue. cc: @lfrohlich @stevenino

[2022-05-09 19:16] ADPennington commented on #1288
as of 5/16/2022, updated SORN draft has been forwarded on to HHS privacy officer and OGC for review.

[2022-05-09 22:25] stevenino commented on #1154
Blocked until we can meet with NexGen XMS team on 5/12

[2022-05-10 14:14] reitermb opened #1775 "[Spike] Investigate extra tab stop on select all in django table header row"
Thank you for taking the time to let us know about the issue you found. The basic rule for bug reporting is that
something isn't working the way one would expect it to work. Please provide us with the information requested
below and we will look at it as soon as we are able.

## Description

*Please provide a short description of the bug*

## Action Taken

*In what way were you interacting with th

[2022-05-10 19:08] stevenino commented on #1775
Still requires conversation with @ttran-hub @reitermb and @ADPennington to see if this is a real issue.

[2022-05-10 19:10] ADPennington commented on #1775
@reitermb can you also check this in [staging](https://tdp-backend-staging.app.cloud.gov/admin/) since there are sometimes issues in dev deployed sites? cc: @ttran-hub

[2022-05-10 19:13] stevenino commented on #1691
Will drive additional dev tix

[2022-05-10 22:07] ADPennington commented on #1127
@andrew-jameson @reitermb i updated the ticket description feel free to add clarifying Qs in the open question section + any comments for further discussion. cc: @stevenino @lfrohlich

[2022-05-11 13:19] ADPennington opened #1778 "SPIKE: Investigate why production-deployment workflow fails"
**Description:**

On 5/10, we attempted the production-deployment workflow from  `hhs:master`, and it failed at the `login to cloud.gov and set application targets` step (see below)
![proddeploy1](https://user-images.githubusercontent.com/63075587/167844581-f34cebef-900e-43ec-9f6e-d43ef33e3653.PNG)

This ticket tracks troubleshooting.

[2022-05-11 13:25] ADPennington commented on #1778
Checked which routes prod apps are bound to:
[code]

Not sure how this happened given [726](https://github.com/raft-tech/TANF-app/issues/726#issuecomment-1114871032), but unmapped temp routes and remapped to correct routes and confirmed:

[code]

[2022-05-11 13:34] ADPennington commented on #1778
Confirmed the correct key value pairs for the following environment variables in CircleCI:

`CF_ORG`
`CF_USERNAME_PROD`  and `CF_PASSWORD_PROD` (via `cf service-key <service> <key>` [ref](https://docs.cloudfoundry.org/devguide/services/service-keys.html))

[2022-05-11 13:59] andrew-jameson opened #1779 "Cloud.gov apps needs restaging (5/11/2022)"
**Description:**
Received the following e-mail from cloud.gov:

[code]

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] [Outlined process](https://github.com/raft-tech/TANF-app/blob/develop/docs/Technical-Documentation/Architecture-Decision-Record/011-buildpacks.md#notes) is followed
- [ ] Testing Checklist has been run and all te

[2022-05-11 18:38] reitermb opened #1781 "[Research Planning] TDP Pilot 2.0"
**Description:**

This ticket delivers plans for planned V2.0 research with pilot users including:
- Functional testing of the TDP app
- Functional testing of onboarding content
- Sentiment & satisfaction analysis toward TDP (to be compared to Tribe research [baselines](https://github.com/raft-tech/TANF-app/blob/develop/docs/User-Experience/Research-Syntheses/2021%2C%20Spring%20-%20Tribal%20MVP%20

[2022-05-11 19:26] ADPennington commented on #1778
Update: there are multiple keys associated with the tanf-key service instance, which can be confirmed via `cf service-keys tanf-keys`. The credentials being used in raft circleci were associated with the test-deploy key and the username for this key has a tanf-prod space role in cloudgov. The credentials in HHS circleci are associated with the deployer key, and the username for this key does _not_

[2022-05-11 20:43] andrew-jameson commented on #1778
Yes, happy to discuss when you're available. While the user/pass tasks were noted in #1764 I don't believe I was looped in on all that was done there. I'm also a little curious on why #1766 does not fully address the issues here given that it was functioning prior to recent deployments.

[2022-05-11 22:31] andrew-jameson commented on #1779
We will still need to update nginx for all frontend applications and once develop has been merged into all branch, restage/redeploy to all environments.

[2022-05-12 19:11] #1707 closed

[2022-05-12 19:51] #1415 closed

[2022-05-13 14:08] ADPennington commented on #132
Some questions + comments included below:

Here, we should probably specify (at a high-level) the type of errors this ticket will detect. Because not all possible errors in the file will detectable. For example, some errors can only be detected by comparing data between Section 1 and Section 3. Are there any objections to focusing on [category 1 and 2 errors](https://github.com/raft-tech/TANF-app/

[2022-05-13 14:29] andrew-jameson opened #1784 "[SPIKE] Backend e-mail relay"
**Description:**
_Provide a brief background and justification for this issue_
Investigate usage of `smtp.ees.hhs.gov` as relay from our Cloud.gov spaces.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [x] Produce script(s) or series of commands for sending an e-mail (and email actually gets sent)
- [x] Pro/con list of SMTP tools (p

[2022-05-13 14:48] andrew-jameson commented on #132
As discussed in 5.13.22 Cross Product Sync, we will attempt to scope this ticket to focus on category 1/2 "pre-parsing errors" as well as basic file parsing. To elaborate, these will result in outright rejection of submitted files but ideally we will be able to submit data from file into a data structure whether or not that data is internally consistent aka has "garbage values" (not saying you can

[2022-05-13 14:48] ADPennington commented on #1127
per 5/13 cross-product sync, closing this ticket. it will be satisfied in #132.

[2022-05-13 14:48] #1127 closed

[2022-05-13 16:07] stevenino commented on #1239
@lfrohlich can we close this.

[2022-05-13 16:47] stevenino commented on #1345
Parsed data accepted, rejected notifications.

[2022-05-13 16:48] stevenino opened #1785 "Notifications and Comms (V4)"

[2022-05-13 18:34] lfrohlich commented on #1239
@reitermb @lilybl1 can you add a link to the mural board in the issue description? also, it seems like all next steps will be captured in follow up tickets, correct?

[2022-05-13 19:07] reitermb commented on #1239
@lfrohlich Added! And yes on the next steps. We're capturing them first on the UX roadmap and then driving further ticketing/action on next steps from there.

[2022-05-13 19:10] andrew-jameson opened #1786 "As a developer, I want linters to run automatically before git push"
**Description:**
_Provide a brief background and justification for this issue_
Using git's pre-commit checks, ensure linters are auto-run before commit/push cycle.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] Allow linting errors in commits for but not pushes.
- [x] Configuration document for developers is produced
- [x] Secre

[2022-05-13 19:53] #1239 closed

[2022-05-13 19:53] lfrohlich commented on #1239
OK sounds good. In that case i'm fine to close

[2022-05-16 15:33] lfrohlich commented on #1385
Per UX sync 5/16, design looks good. We removed resources from site map

[2022-05-16 15:43] lfrohlich commented on #1637
Updates: removed 3rd goal; added "what is ftANF.exe"; simplified ask for update indicator and including header example; revised final section. @reitermb does that cover it?

[2022-05-16 16:12] #1561 closed

[2022-05-16 16:31] lilybl1 opened #1787 "[Dev-ready Design]"
**Description:**
Provide grantees an alternative route to access TDP links in the form of a site map.

**Related User Stories:**

—As a [Grantee] I want a site map page so that I can easily access TDP links to help me get to where I need to go next.

**Recommended pa11y actions:**

—‘click element #error-report’,—

**AC:**

- [ ] Documentation work for the following has occurred:
   - [ ] Relevant

[2022-05-16 18:30] lfrohlich commented on #1637
@stevenino  re: scope, we are focused on  AC#1 Guide conveys all steps needed to change fTANF exports from partial to full. Based on our discussion, initial steps that Alex walked through with UX are missing from the guide. This is not about training people who haven't used FTANF before; it is about documenting the steps that are needed to make the change.

[2022-05-16 18:55] andrew-jameson commented on #1627
Just wanted to add this before it was lost. During integration with the AMS team, our lower environments work correctly while prod seems to have the below session issue:
![image](https://user-images.githubusercontent.com/84722778/168662608-9147256f-1f6d-4f66-8b1d-4a82345e5114.png)

[2022-05-16 19:33] andrew-jameson opened #1788 "Updating TANF resource cards on splash page"
**Description:**
_Provide a brief background and justification for this issue_
As a follow on from #276, we will populate the resource cards on the unauthenticated ticket. We believe this might be a duplicate ticket but could not find the other ticket.

**Acceptance Criteria:**

- [ ] Unauthenticated landing page no longer has empty "resources"
- [ ] Page matches Figma wireframes
- [ ] Testing Che

[2022-05-16 21:34] ADPennington opened #1789 "As tech lead, I need the govbanner changed for production environment"
**Description:**
_Currently, TDP's prod frontend says the following:

https://github.com/HHS/TANF-app/blob/a913fb896e2558fa2625ce655f2696f8e5f1b973/tdrs-frontend/src/components/GovBanner/GovBanner.jsx#L24

![govbanner](https://user-images.githubusercontent.com/63075587/168685437-6a92246b-01eb-4067-bf46-6acef9762c5d.PNG)

For routes in lower environments, this is fine, but for production, it should

[2022-05-17 13:17] lilybl1 commented on #1385
@lfrohlich @stevenino Re: site map, updated this ticket with everything we discussed in UX Sync. Spoke with Andrew and created the dev ticket.

[2022-05-17 14:48] andrew-jameson opened #1807 "As a developer, the frontend needs access to parser output content"
**Description:**
_Provide a brief background and justification for this issue_
This issue creates a bridge between #1121 and  #1122 allowing the frontend to query the backend and retrieve the relevant file contents.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] Frontend can have access to the contents of the output files from #

[2022-05-17 16:07] stevenino commented on #1489
Blocked by production env issues #1778

[2022-05-17 19:22] ADPennington commented on #1637
@reitermb @lfrohlich @stevenino I made some updates throughout the [hackmd](https://hackmd.io/v5UKdNBEQuu1oEV2nnu74A?both) and left a few comments:

- added some more description and placeholders for screenshots
- suggest defining what "complete data" is
- also think we need to mention somewhere what the process is for resubmitting sections 3 and 4 if the stt is using executables.  i left a commen

[2022-05-17 20:25] reitermb commented on #276
Whoops—sorry! That was the wrong one, it should be fixed now (and points here: https://www.figma.com/file/irgQPLTrajxCXNiYBTEnMV/TDP-Mockups-For-Feedback?node-id=7001%3A49625)

[2022-05-18 18:47] ADPennington commented on #1336
@lfrohlich @stevenino @reitermb this notification isnt currently included in [Email notifications V2.1](https://hackmd.io/L0uwkVgxSPqfLBwOcuozPg, but shouldn't it? it's not refined yet, but seems like admins can't take action to trigger some of the V2.1 notifications until this ticket is addressed.

[2022-05-18 19:15] ADPennington opened #1814 "As a TDP user, I want to be notified when my request for access to TDP has been submitted"
**Description:**

After a first-time user authenticates into TDP, they are redirected to the Request Access page of TDP. Completing and submitting the form via clicking the "Request Access" button on this page:
- triggers the `access_request` flag for the user to change from ❌ to ✔️ on the backend **(deprecated)**.
- will trigger the `account_approval_status` field for the user to change from `Ini

[2022-05-18 19:44] ADPennington commented on #1334
@stevenino this ticket has been recycled to focus on the deny email notification for V2.1. it is unrefined and depends on #1679.

[2022-05-18 19:50] stevenino commented on #1336
@ADPennington This was moved to V3 about a month ago because we did not think it was required for the pilot due to the small number of pilot users. Do we want to change that back.

[2022-05-20 14:20] lfrohlich commented on #1637
@ADPennington this is back in QASP

[2022-05-20 14:21] lfrohlich commented on #1627
Ticket update: ACF OCIO Service Desk Change request # CHG0031574 entered the Scheduled state.

System Name: Red Hat SSO
Planned start date: 2022-05-16 10:30:00 EDT
Planned end date: 2022-05-16 11:30:00 EDT

[2022-05-20 14:33] lfrohlich commented on #276
Made some minor edits to the text. Otherwise, looks good to me! @reitermb will you be adding the knowledge center URL before handing off to dev?

[2022-05-20 15:13] riatzukiza commented on #1577
In #1813 dependabot notified us that redux 4.2.0 is depreciating the `createStore` interface we use, in favor of a new library react-toolkit
https://redux.js.org/introduction/why-rtk-is-redux-today

This change requires a full refactor of our redux code, it would be more readable and easier to maintain, and the changes aren't complicated, there would just be a lot of it. This is largely a quality

[2022-05-20 15:17] ADPennington commented on #1637
@reitermb this looks good! I made minor edits for clarity. Some final notes and suggestions:

- The title of the guide seems a bit unclear.
- I also think the purpose of the guide is presented in a weird spot...maybe consider moving it toward the beginning of the document or at least try leading with this statement in the FTANF section.

[2022-05-20 16:06] ADPennington commented on #1493
this will probably be closed but will revisit after decision is made on login.gov vs nextgen. #1818 is updating this for login.gov.

[2022-05-23 14:04] #1772 closed

[2022-05-23 14:47] andrew-jameson opened #1826 "[SPIKE] Explore automated devops tools for Cloud deployments including environment variables"
**Description:**
As a follow-on to #1489 / #1774 , our suite of bash scripts is incomplete in their adherence to principles:

1. Don't Repeat Yourself: our previous scripts had many repeated commands/segments
2. Idempotent: repeated operations on the same target produce the same result. In other words, the desired state is always attained and the state-machine of such operations is well-handled.
3

[2022-05-23 14:48] andrew-jameson commented on #1826
As an aside, I would love to finish this devsecops improvement prior to releasing v3 to our wider customer base.

[2022-05-23 15:59] ADPennington commented on #1637
LGTM 👍🏾

[2022-05-23 15:59] lfrohlich commented on #276
@reitermb changes look good!

[2022-05-23 16:35] reitermb commented on #1788
Updated the notes with the knowledge center URL (it won't work until we—UX—complete #1693, but we have reviewed the URL w/ Lauren & Alex and gotten the green light on it) cc: @andrew-jameson

[2022-05-23 16:37] lfrohlich commented on #1627
ACF OCIO Service Desk Change request # CHG0031574 entered the Execution state.
System Name: Red Hat SSO
Planned start date: 2022-05-16 10:30:00 EDT
Planned end date: 2022-05-16 11:30:00 EDT

[2022-05-24 14:11] #1779 closed

[2022-05-24 14:16] #276 closed

[2022-05-24 14:16] #1637 closed

[2022-05-24 15:02] ADPennington commented on #1627
Actual start date: 2022-05-16 10:30:00 EDT
Actual end date: 2022-05-16 11:30:00 EDT
Complete Code: Unsuccessful
Complete Notes: SSO Client configured, however the TANF application is not in a state to conduct a successful validation. Client configuration in RH-SSO will remain and TANF will reach out once they are able to successfully validate

[2022-05-24 19:30] lfrohlich commented on #1336
@ADPennington  i think the idea is that with the small set of users in the pilot, we don't need automated emails for sys admin, and that you and Thomas will be checking django admin for requests.

[2022-05-24 19:46] stevenino commented on #1122
Requires additional UX design. Need tix.

[2022-05-24 19:52] stevenino commented on #1122
Requires UX research for report format. Tix is still pending.

[2022-05-24 21:23] stevenino commented on #1679
@ADPennington and @andrew-jameson to discuss path forward at dev sync on 6/1. This and #1334 have to be refined and re-aligned.

[2022-05-24 21:24] stevenino commented on #1334
@ADPennington and @andrew-jameson to discuss path forward at dev sync on 6/1. This and #1679 have to be refined and re-aligned.

[2022-05-24 21:52] lilybl1 commented on #1691
@reitermb @stevenino @lfrohlich @ADPennington Please find the mural link and the hackMD pages for review.

- [Mural](https://app.mural.co/t/raft2792/m/raft2792/1652817527671/4a39866b6f8c5169963e4051a99456f7d27fed78?sender=u3ca60168b5ac4eb17bf92804)
- [Sign-In with Existing LOGIN.GOV account](https://hackmd.io/t1lPMv2vQkCxcDhtPxrbCg)
- [Create New LOGIN.GOV account](https://hackmd.io/I5zu3_jNSZem9Y

[2022-05-24 23:16] stevenino commented on #1691
@lilybl1 Just a few comments.
- Have we decided that the introductory email is coming from a @goraft.tech account? What are the long term implications?  What happens if they reach out with questions not specific to TDP but data specific?
- Is the plan to actually send "manual" emails once TDP access is granted? Who will be sending them? From what email address? Will it be confusing if it is differ

[2022-05-25 15:29] riatzukiza commented on #1440
Currently I am getting:
[code]

[2022-05-25 19:05] riatzukiza opened #1831 "[wip] update react-idle-timer"
**Description:**

To track work for [this](https://github.com/raft-tech/TANF-app/pull/1827) dependabot pr.

3 tests are failing as a result of changes upstream.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] _Outcome 1_
- [ ] _Outcome 2_
- [ ] _Outcome 3_
- [ ] Testing Checklist has been run and all tests pass
- [ ] README is up

[2022-05-25 20:48] ADPennington commented on #1691
left my feedback in hackmds.

[2022-05-26 14:06] lfrohlich commented on #1691
My comments are in hack.md and Mural. Looking really good @lilybl1 !

[2022-05-26 22:05] lilybl1 commented on #1691
@reitermb @lfrohlich @stevenino Please see below for the comments back and what has been done/completed. @ADPennington I'm working the HackMD feedback next.
[Steve] Have we decided that the introductory email is coming from a @goraft.tech account? Yes.

What are the long term implications? This story is focusing just on the pilot program that is happening in August which is short term. Long term w

[2022-05-27 02:04] lilybl1 commented on #1691
@ADPennington @lfrohlich HackMD comments have been resolved except for 2 items:
1. [Step 11](https://hackmd.io/I5zu3_jNSZem9Y2cQpb2TA?both) -- there was a request to add a screenshot of the actual email template once the system admin grants access. At this time, we don't have the html email template yet as this is in our future story #1708 -- Also, one thing to note is maybe we don't want to get s

[2022-05-27 02:06] lilybl1 commented on #1691
@ADPennington RE: Existing Login.gov comment -- im pretty sure that someone with an existing account in logingov prod env can use it to log into tdp but we've only been using logingov sandbox env so far which does not recognize existing accounts, so we're asking login.gov support to confirm. -- Did someone get back to you on this?

[2022-05-27 14:53] #1198 closed

[2022-05-27 14:55] reitermb commented on #1198
Closing in favor of looping into a task on #1199

[2022-05-27 17:09] ADPennington commented on #1691
login.gov support ticket 442 was created to track our UX-related questions.

1) re: existing accounts --they confirmed that when we shift to logingov production environment, users who have an existing logingov account can use that. this is not currently possible in sandbox, which we've been using.

2) re: latency issue with 2fa in sandbox--they are still looking into this. this isn't expected beha

[2022-05-27 17:44] ADPennington commented on #1691
from login.gov support :

To be sure, we should test the experience again when we're setup in prod. @lilybl1

[2022-05-31 15:27] stevenino commented on #1199
Not really a blocker to #1122 but it is a nice to have.

[2022-05-31 15:43] andrew-jameson commented on #1352
If #1784 and/or it's follow-up is complete, this would serve as a good test tasks for this sytem.

[2022-05-31 20:25] lilybl1 commented on #1691
@ADPennington @lfrohlich Reviewed and updated per discussions. This is moving back into QASP for final review.

[2022-05-31 21:05] andrew-jameson opened #1836 "[draft] scratchpad of circleci issues"
**Description:**
_Provide a brief background and justification for this issue_
![image](https://user-images.githubusercontent.com/84722778/171284560-c6a06959-27e9-4e64-9cab-c39c36e3040d.png)

- circleci deployments for dev takes 10 minutes. surely this can be parallelized and streamlined? sub 3 minute goal
   - also, that commit hash isn't helpful, give me the commit message like the other runs.
-

[2022-06-01 14:00] ADPennington commented on #1691
@lilybl1:
- re: Await for Access Next Steps -- can this be dropped? i think the step after this (i.e. Approved for TANF Data Portal)  could acknowledge that the person will have received an email from X on their access request status and if the request has been approved you'll be able to login and see etc. etc.  etc.. Would this work?
- re: Approved for TANF Data Portal--is there a need for this p

[2022-06-01 14:46] andrew-jameson commented on #1778
Deleted CDN service, telling it to forward cookie and other auth headers made no difference. Once this operation is complete, will run this:

[code]

[2022-06-01 15:06] lilybl1 commented on #1691
@ADPennington

1. Re: Who will email the Welcome AND the Access Approved email - for the pilot this communication will come from the email address tdppilot@goraft.tech - since there will only be roughly 15 people in this v2.0 pilot we will just coordinate via spreadsheet on who has requested and been approved. This will allow us to keep the communication centralized.

3. re: Await for Access Next

[2022-06-01 15:32] ADPennington commented on #1336
note re: deactivated vs inactive comment: https://github.com/raft-tech/TANF-app/pull/930#issuecomment-866032809

[2022-06-01 15:46] andrew-jameson commented on #1679
Updated scope and description on 6/1.

[2022-06-01 15:48] andrew-jameson commented on #1421
https://hackmd.io/L0uwkVgxSPqfLBwOcuozPg for emails needed

[2022-06-01 19:43] ADPennington opened #1839 "As a TDP user, I want to be notified when my request for access to TDP has been approved"
**Description:**
Currently, users do not have access to TDP until an admin changes their group assignment in their user profile. An assignment means that their request has been approved. Still, the user does not receive a notification of this approval.

#1679 will deliver functionality for admins to manage requests for access to TDP. When this  field (`account_approval_status`) is changed to `Appr

[2022-06-01 19:55] ADPennington opened #1840 "As a TDP user, I want to receive an email notifying me that my TDP account has been deactivated."
**Description:**
Currently, admins can deactivate a user's TDP account by navigating to their profile and checking the `deactivated` status.

#1679 will deliver newer functionality for admins to manage TDP user accounts. When this  field (`account_approval_status`) is changed to `Deactivated`  in a user's profile, this should trigger an email notifying the user that their account has been deactiva

[2022-06-02 15:14] ADPennington opened #1844 "As a TDP user, I want to be notified when my account will soon be deactivated"
**Description:**
Per [AC-02(03)](https://github.com/raft-tech/TANF-app/blob/develop/docs/Security-Compliance/Security-Controls/ac-2-3/index.md), TDP must deactivate user accounts after 180 days of inactivity. We want to notify users that their account will be deactivated **10 days prior to**  AND **3 days prior to** AND **1 day prior to** this deactivation.

This deactivation warning email notific

[2022-06-02 16:16] ADPennington opened #1845 "As a STT Data Analyst, I want to be notified when data for my program has been submitted."
**Need to provide a [html email template](https://reitermb.github.io/TDP-HTML-Email-Demo-Environment/data-has-been-submitted.html)**

**Description:**

STT data analysts use the "submit data files" button on the [data-files](https://tdp-frontend-staging.app.cloud.gov/data-files) page for data transmission. A `submit` email should be triggered to all active users associated with STT **if and only i

[2022-06-02 20:20] ADPennington commented on #726
#### 6/2/2022 update --

- got help from cloud.gov support (ticket # 4239) to delete `tdp-prod-cdn` since its status has been `delete in progress` since yesterday. Successfully deleted as of 6/2/22 2:55pm ET.
- mapped backend and frontend apps to prod routes
[code]
- recreated external domain service instance called `tdp-prod`
[code]

- tried logging in at tanfdata.acf.hhs.gov and still got the sa

[2022-06-03 13:40] ADPennington commented on #1778
since we're tracking prod-related issues in this ticket, including a link to the most recent update: https://github.com/raft-tech/TANF-app/issues/726#issuecomment-1145303542

[2022-06-03 16:55] lilybl1 commented on #1691
@ADPennington Updated per our post scrum. Please note that we will update the placeholder screenshot with the final version once #1653 is complete. We discussed this would be appropriate for this ticket.

[2022-06-03 18:03] ADPennington commented on #1691
thanks @lilybl1 👍🏾 this is approved. let's be sure to revisit the placeholder photo before this document is added to the knowledge center. cc: @reitermb @lfrohlich

[2022-06-03 18:03] #1691 closed

[2022-06-06 15:26] andrew-jameson commented on #1778
Sent follow-up to cloud.gov support ticket #4217 detailing CDN/domain service changes. Next step will be to try circumventing DNS alias records using just cloud.gov provided `tdp-backend-prod.app.cloud.gov`.

[2022-06-06 21:10] lilybl1 commented on #1693
Locally committed changes for getting started sections and side nav proposals

[2022-06-07 15:28] andrew-jameson opened #1854 "Merging to develop overwrites staging auth keys"
## Description
Merging to develop overwrites authentication keys/variables for staging since the defaults in CircleCI are for the dev environments.

## Action Taken

Merged to develop, log into staging

## What I expected to see
A logged in view of the app aka the Home page

## What I did see
Invalid auth token error

## Other Helpful Information

+ URL of the page I was on:
+ Browser and version:

[2022-06-07 15:34] andrew-jameson commented on #1854
Short-term workaround: Let staging use dev keys

Suboptimal workaround/solution: Write bash conditionals to skip certain keys for non-dev environments.

Potential solutions:

- Store and retrieve auth keys from a specific s3 bucket -- will require medium lift due to retrieval/parsing within circleci and/or deployment scripts.
- Infra-as-code ala #1826 using new tool like (Terraform/Vault/SOPS/BitW

[2022-06-07 19:48] ADPennington commented on #1778
testing login.gov flow 2 ways:

- using alexandra.pennington@acf.hhs.gov results in `{"error":"alexandra.pennington@acf.hhs.gov attempted Login.gov authentication with role(s): []"}` which is expected given #1170
- using gsa.alexandrapennington@gmail.com results in redirect to request page 🚀

[2022-06-08 16:15] andrew-jameson opened #1858 "Spike: Secure OFA staff access to Kibana"
**Description:**
As a front-runner to #1350, I wanted to explore the authentication and permission systems for ES/Kibana, TDP authorization of roles for those services, Cloud networking configurations, system hardening guidelines, etc.

I **cannot** understress the importance of security around the data within Elasticsearch that this ticket stalwarts against. This might be the right time to undert

[2022-06-09 00:44] stevenino commented on #1349
This is data agnostic

[2022-06-09 00:45] stevenino commented on #1355
This will be a joint effort by Andrew, UX, Product, and Alex. It will be require an informal Q&A session being facilitated by Alex.

[2022-06-09 00:45] stevenino commented on #1355
This is data agnostic

[2022-06-09 00:45] stevenino commented on #1350
This is data agnostic

[2022-06-09 17:26] andrew-jameson opened #1865 "Cloud.gov restage 6/9/22"
**Description:**
Received Cloud.gov e-mail which calls out elastic-demo and project-updates.

[code]

**Tasks:**
_Create a list of granular, specific work items that must be completed to deliver the desired outcomes of this issue_

- [ ] On feature branch, update nginx/python buildpack versions.
- [ ] Update changelog
- [ ] Run Testing Checklist and confirm all tests pass

**Notes:**
_Add addition

[2022-06-09 18:29] andrew-jameson opened #1866 "As tech lead, I want an automated database backup lifecycle implemented"
**Description:**
As an add-on to #1631 , we need a framework within which to run all backup, storage, deletion and restoration actions.

**Acceptance Criteria:**

- [ ] Each deployed environment will have nightly backups of the postgres database
- [ ] Backups are obsolesced after 30 days
- [ ] Local dev environments do not backup
- [ ] Data backups at rest are encrypted and secure
- [ ] Testing Ch

[2022-06-10 14:45] ADPennington commented on #1627
https://github.com/raft-tech/TANF-app/issues/1778#issuecomment-1151121222

[2022-06-10 14:53] stevenino commented on #1559
Will not do NexGen XMS

[2022-06-10 14:53] #1559 closed

[2022-06-10 14:56] stevenino commented on #1558
Will not integrate with NexGen XMS

[2022-06-10 14:56] #1558 closed

[2022-06-10 14:56] stevenino commented on #1155
Will not integrate with NexGen XMS

[2022-06-10 14:56] #1155 closed

[2022-06-10 18:35] #1154 closed

[2022-06-10 20:29] lilybl1 commented on #1693
@reitermb The first 3 pages are ready for code review. Thanks!

[2022-06-10 20:54] stevenino commented on #1153
NexGen XMS will not be integrated into TDP

[2022-06-10 20:54] #1153 closed

[2022-06-13 14:30] andrew-jameson opened #1873 "Nightly owasp scan of staging failing"
## Description

The CircleCI job nightly-owasp-scan is failing consistently starting Friday 6/10.

## Action Taken

N/A

## What I expected to see

A green successful run.

## What I did see

[Failed run](https://app.circleci.com/pipelines/github/raft-tech/TANF-app/8903/workflows/936e10ec-944e-4e68-a97d-93461c0cae27/jobs/21959/parallel-runs/0)
    "Run post-processing task to record OWASP ZAP resu

[2022-06-13 14:52] ADPennington commented on #1873
is this memory quota issue related to the additional apps coming into the space given #1746?  if so, worth discussing if we want to reallocate some of the resources (e.g. clamav) or reconsider if we still want the scans on develop, main, and master branches as noted [here](https://github.com/raft-tech/TANF-app/issues/1754#issuecomment-1110143384)

[2022-06-13 15:54] reitermb commented on #203
I believe this is V4 given more recent conversations around release slicing? To follow up on in backlog

[2022-06-13 20:15] lilybl1 commented on #1241
@reitermb @stevenino @lfrohlich @ADPennington To collaborate - [please use this link to view the Microsoft Forms](https://forms.office.com/Pages/DesignPageV2.aspx?subpage=design&FormId=A7fz7DcwFEeft-JMmPSZMZhIDb2i-lxLv1cIDINdQ8hUNjhUTVUyU0c5VEhJSTFJSVBVWUxCVlNFTi4u&Token=f68a5c2cfc884766a5718f4d1aa401af).

[2022-06-13 20:26] lilybl1 commented on #1241
Moving this to QASP - https://reitermb.github.io/Test/knowledge-center/give-feedback.html

[2022-06-14 03:59] reitermb commented on #1480
Can be closed, follow-on conversation revealed that this wasn't a blocker.

[2022-06-14 15:19] andrew-jameson commented on #1873
Last two scan runs have been successful.

[2022-06-14 15:19] #1873 closed

[2022-06-14 15:56] stevenino commented on #1112
Duplicate of #1755

[2022-06-14 15:56] #1112 closed

[2022-06-14 15:58] stevenino commented on #134
Closed as OBE

[2022-06-14 15:58] #134 closed

[2022-06-14 16:14] lfrohlich commented on #1241
FYI I got this error when I tried to open the teams link, but i can see it in the knowledge center
![image](https://user-images.githubusercontent.com/61251539/173625552-a642743b-737c-41e7-b43f-0e2b9bda86f0.png)

[2022-06-14 18:26] lilybl1 commented on #1241
@lfrohlich

1. updated the questions slightly. I also broke it out into 3 specific questions.
2. The responses are only shared with those who can collaborate - you can export the responses as well - As this form will only be used short term during Pilot Testing 2.0, the initial plan is for Miles and I to be the main recipients and viewers. As we receive responses, we will synthesize and report out

[2022-06-14 18:55] lilybl1 commented on #1241
@lfrohlich The CTA for office hours is at the end on the Thank you page. I didn't want to include before the survey was submitted as the office hours page will take you away from the survey and people might forget to come back to submit the survey.

[2022-06-14 19:39] lfrohlich commented on #1241
@lilybl1 that makes sense. A few edits:

In addition to **upcoming formal rounds of user research** we'd love to offer up some unstructured time to hear from you. If you have questions about the project, feedback about elements of the current system you'd like to see TDP address, or have anything else in mind, **please sign up for an "office hours" time slot here:**

[2022-06-14 21:26] stevenino commented on #1241
LGTM!

[2022-06-15 13:29] #1489 closed

[2022-06-15 13:58] #1440 closed

[2022-06-15 16:02] stevenino commented on #1241
@ttran-hub

[2022-06-15 16:19] andrew-jameson opened #1881 "As a UX researcher, I want a TDP demo environment"
**Description:**

**Acceptance Criteria:**

- [ ] New pair of cloud.gov applications (tdp-frontend-research, tdp-backend-research)
- [ ] Users can use Login.gov in new environment
- [ ] Environment has unique database
- [ ] Environment can upload data files
- [ ] Any feature branch can be deployed using "deploy-research" label
- [ ] Testing Checklist has been run and all tests pass
- [ ] README is

[2022-06-15 16:20] #1282 closed

[2022-06-15 16:22] ADPennington commented on #1745
note to self and the developer on this: we will need:
-  a `CF_USERNAME_STAGING` `CF_PASSWORD_STAGING` in HHS circleci
- the values for the above env vars need to be generated [ref](https://cli.cloudfoundry.org/en-US/v6/create-service-key.html) and different from what's set up for raft.
- CF_USERNAME_STAGING needs to be set as a user in cloud.gov

[2022-06-15 18:41] lfrohlich commented on #1693
I love how it looks! Some comments:

- I'm not sure that we are allowed to use the ACF logo in the toolbar
- should it be "_the_ TANF Data Portal" throughout?
- may not be necessary, but worth considering highlighting the buttons/links in the screenshot
- Getting Started: Would reframe as something like "This knowledge center will guide you through setting up an account to access the TANF Data Por

[2022-06-15 19:34] reitermb commented on #1653
Draft of Data Files onboarding materials here: https://hackmd.io/@mreiter/ByN4skDFq

cc @lfrohlich @ADPennington

[2022-06-16 17:20] stevenino commented on #1241
@lilybl1 what would the lift be to change it everywhere else?

[2022-06-16 17:23] lilybl1 commented on #1241
I'm not just referring to the Knowledge Center - I'm looking at our prod site...  https://tanfdata.acf.hhs.gov/ - my understanding is that changes here would be a new dev ticket, right?

[2022-06-16 18:08] stevenino commented on #1241
Yeah, I agree. Just trying to say that the lift would be much larger.

[2022-06-16 19:14] ADPennington commented on #1241
@lilybl1 this looks good to me. like the reframed questions based on lauren's input. not a strong preference here but the voice switch (i.e. i like....we want...) may need some formatting so response prompt is easily distinguishable from the instructions we're offering.

[2022-06-16 19:25] ADPennington commented on #1693
lgtm! some minor notes:

- what are we trying to say here? `With TANF Data Portal (TDP), a new, secure, web based data reporting system we strive to improve the federal reporting experience for TANF grantees and staff.` Seems like we could just say: `our goal for TDP is to improve....`
- +1  lauren's suggestions on account-related pages. re: second screenshot--1653 has more detailed screenshots fo

[2022-06-16 19:31] lfrohlich commented on #1241
@lilybl1  are you referring to message around office hours? I don't think that is in the prod site, only project updates. There's a typo in the messaging ("In addition to many upcoming structure and planned rounds") and the latter change is to make it a more direct call to action.

[2022-06-16 20:21] lilybl1 commented on #1241
I pulled the content from a screenshot from Project Updates. I fixed the typo in the first sentence and added the last bit to this survey. My original question was stemming from how consistent do we want to keep this language and do Project Updates in prod need to updated as well?

[2022-06-16 20:25] lilybl1 commented on #1693
@lfrohlich @ADPennington @stevenino @reitermb I created the comments with checkmarks of what has been committed.

The following points, we should discuss as a group for consistency across the experience not just specific to Knowledge Center.

-  I'm not sure that we are allowed to use the ACF logo in the toolbar - there are currently two favicons between Knowledge Center and Prod TDP site - which

[2022-06-16 22:23] ttran-hub commented on #1241
@ADPennington @lilybl1 @reitermb, I was tagged for A11y but no longer see it here.  If the Knowledge-center page is in the stage of modifying, please double check the findings below:
- [siteNav](https://reitermb.github.io/Test/knowledge-center/index.html) - may be a false positive, but please check the <ul class="usa-sidenav"> was flag for List element has direct children that are not allowed insi

[2022-06-17 13:54] lfrohlich commented on #1241
Let's discuss after standup today

[2022-06-17 14:36] riatzukiza opened #1891 "As a developer, I would like a better deployment experience"
**Description:**
_Provide a brief background and justification for this issue_

The labels are inconsistent, and difficult to use. Github is not really a great interface for this.
If we deploy to our 4 dev environments the same way we deploy to our staging environments, with a filter to a branch with the same name as the environment we get a few things:

+ Better visibility into what code is deplo

[2022-06-17 16:28] lfrohlich commented on #1693
@ttran-hub a11y comments (originally posted in #1241)

@ADPennington @lilybl1 @reitermb, I was tagged for A11y but no longer see it here. If the Knowledge-center page is in the stage of modifying, please double check the findings below:
- [siteNav](https://reitermb.github.io/Test/knowledge-center/index.html) - may be a false positive, but please check the <ul `class="usa-sidenav">` was flag for Li

[2022-06-17 16:32] lfrohlich commented on #1241
Content looks good with latest changes. No changes need to be made to project updates wording.

@ttran-hub I moved your comments to #1693. Can you confirm if you also a11y reviewed the "Give Feedback" tab of this page?

[2022-06-17 16:36] lfrohlich commented on #1693
How about:
The TANF Data Portal is a new, secure, web-based data reporting system designed to improve the federal reporting experience for TANF grantees and federal staff. TDP will allow grantees to easily submit accurate data and be confident that they have fulfilled their reporting requirements. This will reduce the burden on all users, improve data quality, inform better policy and programs, an

[2022-06-17 20:55] lilybl1 commented on #1693
[ ] Getting Started – update intro content
[ ] Use.gov banner in the header which should they pull the favicon
[ ] should it be "the TANF Data Portal" throughout? - discussed that "the" to be added in Knowledge Center, but needs to update on the Home Page in future story
[ ] Getting Started Welcome to [TANF Data Portal (TDP)](https://reitermb.github.io/Test/knowledge-center/index.html) – First sen

[2022-06-21 14:45] ttran-hub commented on #1241
Hi @lfrohlich, the a11y reviewed also includes the "Give Feedback" tab

[2022-06-21 15:33] lfrohlich commented on #1241
Thanks @ttran-hub ! This is now complete

[2022-06-21 15:42] reitermb commented on #1693
@ttran-hub best I can tell the sidenav error _is_ a false positive—I'm not sure why it's popping up but I've confirmed that the only elements directly inside of the lists making up the sidenav are other list elements. They contain other HTML elements (links in this case) but that shouldn't be a violation.

![image](https://user-images.githubusercontent.com/28515874/174841314-a21259c7-ec8f-4546-b19

[2022-06-21 16:49] reitermb commented on #1693
Banner adjustments & (an MVP version of) jump to top button have been added! Should all be ready for QASP again

[2022-06-21 17:37] lfrohlich commented on #1693
FYI @ttran-hub these sections are not yet ready for review

[2022-06-21 17:52] ttran-hub commented on #1693
LGTM for pages before Submitting Data

[2022-06-21 18:06] lfrohlich commented on #1693
@lilybl1 @reitermb
I noticed a few more, mostly minor things. Once these are addressed it should be all done. Let me know if you want to discuss!

Consistency: when referring to a button or link, make it either bold, italics, or in quotes. For example, under creating a new login.gov accounts:

- "Sign in with LOGIN.GOV for grantees" step 1
- Create an account in step 2
- **Rules of Use** in step 3

[2022-06-21 19:26] reitermb commented on #1345
Revisit in UX Sync before prioritizing to ensure we're slicing 3.0+ notifications correctly/previously spec'd notifications are still valid.

[2022-06-21 19:48] stevenino commented on #1215
@ADPennington @ttran-hub what is the system admin ask here?

[2022-06-21 22:54] stevenino opened #1896 "OSCAL for TDP ATO/SSP"
**Description:**
Explore if TDP can use OSCAL https://pages.nist.gov/OSCAL/ for ATO / SSP. OSCAL is open source at https://github.com/usnistgov/OSCAL . There is another ACF / OHS project called Head Start (also OSS at https://github.com/HHS/Head-Start-TTADP/search?q=oscal&type=issues) that uses OSCAL.

OSCAL is the modern way of storing SSP’s in code as opposed to word documents. Put TDP on the bl

[2022-06-23 14:21] riatzukiza opened #1904 "[SPIKE] As a developer working on the frontend, I would like to be able to do my work with out starting the backend."
**Description:**

We use Mirage to bypass our requirement for login.gov in our integration testing environments. Currently the way that it is set up is not very flexible and only allows us to test a subset of our apps features meaningfully. We discussed two options:

# Option 1: expand our use of mirage.js

As a tool Mirage can serve as a complete replacement for the backend (for the purpose of te

[2022-06-23 17:59] ADPennington commented on #1133
6/23/2022 update:

- emailed OCIO re: why we were provided with private keys instead of public per @raftmsohani request. standing by for follow-up and will loop Mo into email chain upon response
- I also noticed today that the staging and prod keys we were provided with and tested are no longer working, so have inquired about getting this addressed as well.

[2022-06-24 15:22] reitermb opened #1906 "Change required form field convention to use asterisks on Request Access form"
**Description:**
We're currently not providing any visual indication of "Associated STT" being required on the Request Access form. Since the form submits user data / can't easily be resubmitted we need a visual cue that it's required (as well as existing HTML attribute based identifiers that it's required). We've decided to use asterisks rather than "(required)" to make form field labels lest tex

[2022-06-24 17:46] ADPennington commented on #1778
reached out to hhs help desk re: new DNS for backend app given problem below.
![backenddns](https://user-images.githubusercontent.com/63075587/175614632-0e43ff4e-0212-4f33-a485-6568dc8fac96.PNG)

this issue has been escalated for additional support on 6/24.

[2022-06-24 19:44] ADPennington commented on #1215
updated this ticket to focus on error message for submitting infected files.

[2022-06-27 16:53] lilybl1 commented on #1781
@lfrohlich @stevenino @reitermb Submitting for QASP review - please note that the consent form is just part of this ticket below:
[Privacy.pdf](https://github.com/raft-tech/TANF-app/files/8994154/Privacy.pdf)

[2022-06-27 20:18] lilybl1 commented on #1781
@reitermb @lfrohlich The tab "[Recruitment Roster](https://teams.microsoft.com/_#/xlsx/viewer/teams/https:~2F~2Fhhsgov.sharepoint.com~2Fsites~2FTANFDataPortalOFA~2FShared%20Documents~2FDesign~2FPilot%20v2.0%20Planning%20and%20Research~2FParticipants%20Tracker.xlsx?threadId=19:e92913e3e7d443adb823e6497dff1fb3@thread.skype&baseUrl=https:~2F~2Fhhsgov.sharepoint.com~2Fsites~2FTANFDataPortalOFA&fileId=

[2022-06-27 20:28] lfrohlich commented on #1653
@reitermb i reviewed and made some comments in the hack.md. Note, I also made some edits within the text (mostly commas and minor word changes)-- i think you're able to see what changes i made but if not let me know and i can comment each one.

[2022-06-28 13:26] ADPennington opened #1916 "As a user who submits data files, I want to know if my file upload is empty."
**Description:**
If a user uploads a file that is blank (no content), a 400 bad request error is returned upon clicking submit, but that is not a meaningful error message for the user. Additionally, the sys admin will not be able to see evidence of the bad request from TDP. cloud.gov logs is the only place where the 400 error is visible to the sys admin and even then admins will not know the root

[2022-06-28 13:37] ADPennington opened #1917 "As a sys admin, I want to be notified when a user submits an infected file"
**Description:**
#1215 will deliver an "infected" error message to user when a file with a virus is submitted. The sys admin can also see the infected status of every file submitted from the clamav file scans model in DAC, but admins should also be notified immediately when this occurs.

![virusscan](https://user-images.githubusercontent.com/63075587/176192031-b646721d-94b4-4ea0-a8c3-83b5fdda27b2.

[2022-06-28 15:12] stevenino commented on #1831
Closed as OBE. Per backlog refinement on 6/28

[2022-06-28 15:12] #1831 closed

[2022-06-28 17:07] raftmsohani commented on #1133
Following up with our meeting @ADPennington with TANF team:
1) The connection is restricted to source IP address range
2) We will create pub keys and send it to TANF team to be added to the server

[2022-06-28 18:52] lfrohlich commented on #1781
@lilybl1 @reitermb FYI I moved this to User Research-Sensitive because it has contact information

[2022-06-29 16:08] lfrohlich commented on #1781
I sent to Yun and Rebekah to fill in contact info

[2022-06-30 19:14] ADPennington commented on #1653
@reitermb :
- i resolved comments that I made where it appears that these were addressed.
- i made minor language edits in-line under steps 1, 3
- i added "transmitted" to "how to retrieve your data" header. also reorganized and simplified the instructions herein.

let me know if you have any questions about these edits. else, looks good to me.

[2022-07-01 13:57] ADPennington commented on #726
sent an email to HHS today (7/1)  to check-in on the status of the dns entry creation for api-tanfdata.acf.hhs.gov for backend.

re-opening this to track the DNS change process.

[2022-07-01 15:00] lfrohlich commented on #1653
LGTM

[2022-07-01 15:48] lfrohlich commented on #1781
With help from Yun and Rebekah, the contacts are all filled in! @lilybl1

[2022-07-01 17:12] lilybl1 commented on #1781
Thank you. Reviewed and finalized the HackMD with stakeholders. Emails are ready to send out on Tuesday, 7/5 for recruitment.

[2022-07-01 19:52] reitermb commented on #1653
All final changes look good to me! I think we're good to close this. (#1693 will update knowledge center pages to reflect these content changes!)

cc @lfrohlich @ADPennington @stevenino

[2022-07-06 15:04] stevenino commented on #1693
Ready for @ttran-hub  @ADPennington to review again. Moving back over to QASP

[2022-07-06 15:16] stevenino commented on #1653
Closed per sprint review on 7/6/22

[2022-07-06 15:17] #1781 closed

[2022-07-06 15:17] stevenino commented on #1781
Emails sent out on 7/5/22. Closed per sprint review on 7/6/22

[2022-07-06 23:04] stevenino commented on #1610
Blocked by backend story.

[2022-07-07 19:48] riatzukiza commented on #1784
[code]

[2022-07-08 00:05] raftmsohani commented on #1133
We are looking into using Celery to schedule and task control for performing backend uploads.

[2022-07-08 16:46] riatzukiza commented on #1787
Make a follow on ticket for research task

[2022-07-08 20:30] lilybl1 commented on #1708
Will review the copy suggestions and question in Monday's UX Sync before continuing any further. The current email copy based on the HackMD and can be found here https://reitermb.github.io/TDP-HTML-Email-Demo-Environment/

[2022-07-11 14:25] riatzukiza opened #1943 "[SPIKE] As a team, we would like the site map to be dynamic."
**Description:**

Follow on to #1787

## Context

In order to keep the site map accurate, it would be ideal if it updated in response to the structure of the website changing, otherwise it could very easily drift out of alignment with the website as it is built up over time. It didn't seem immediately obvious when implementing 1787 the best way to do this.

## Mission

 Research and maybe implemen

[2022-07-11 15:13] lilybl1 commented on #1708
@lfrohlich https://www.figma.com/file/irgQPLTrajxCXNiYBTEnMV/TDP-Mockups-For-Feedback?node-id=7196%3A50118

[2022-07-11 16:15] lilybl1 commented on #1708
Per the UX Sync meeting:

[2022-07-11 17:44] lilybl1 commented on #1708
@lfrohlich @ADPennington @stevenino this is ready for QASP - you can preview the final copy changes here: https://reitermb.github.io/TDP-HTML-Email-Demo-Environment/

[2022-07-11 17:58] reitermb commented on #1708
@ttran-hub these emails should also get a gov a11y review pass. They're testable on web at the link @lilybl1 provided above, but should also get a pass once they've actually been sent to an email client since that's the medium it'll ultimately be displayed in. The raw HTML ([accessible in the repo](https://github.com/reitermb/TDP-HTML-Email-Demo-Environment)) can be pasted into any HTML email deli

[2022-07-11 18:10] n0remac commented on #1943
This could be a useful option
https://docs.djangoproject.com/en/4.0/ref/contrib/sitemaps/

[2022-07-11 18:48] lfrohlich commented on #1708
@lilybl1 content is looking good! I made a few minor comments in the figma. can you also add the figma link to the description of the ticket?

[2022-07-11 19:24] riatzukiza commented on #1787
Preliminary screen shot for style of the site map (still have to adjust the button on the bottom):
![image](https://user-images.githubusercontent.com/10676925/178342373-7db62273-030e-4b24-8298-f30a3894f5e4.png)

[2022-07-11 20:32] ADPennington commented on #1708
@ttran-hub see the links 🆙

[2022-07-11 21:04] ADPennington opened #1945 "As tech lead, I need all frontend app buttons in prod env to point to correct endpoints"
**Description:**
As of July 2022, the frontend and backend in the TDP prod environment are located in different domains. the frontend is in an acf domain, while the backend is in a cloudgov domain. The dev and staging env have not been configured to use multiple domains, so we need to ensure that all frontend buttons in prod hit the correct endpoints.

currently when :
[code]
- the `request access

[2022-07-11 21:32] lilybl1 commented on #1708
@lfrohlich The edits in Figma have been completed and updated in HackMD as well. Thanks!

[2022-07-11 23:02] stevenino commented on #960
This is beyond the scope of parity. It will be moved to V4.

[2022-07-11 23:02] stevenino commented on #1744
This is beyond the scope of parity. It will be moved to V4.

[2022-07-11 23:03] stevenino commented on #130
This is beyond the scope of parity. It will be moved to V4.

[2022-07-12 13:43] riatzukiza commented on #1943
Does the admin panel need any work to be compliant related to this?

[2022-07-12 14:47] ADPennington commented on #1627
Closing this ticket since authentication via ACF AMS in TDP prod environment is functional as of 7/11/22 with a **non-acf domain for backend route**. authentication steps below. cc: @lfrohlich @ttran-hub @stevenino

1. navigate to frontend landing page and click `Sign in with ACF AMS for ACF staff` button
![1627p1](https://user-images.githubusercontent.com/63075587/178513674-2c17caae-d03f-4429-8d4

[2022-07-12 14:57] ADPennington commented on #1778
production-deployment workflow is functioning since [this update](https://github.com/raft-tech/TANF-app/issues/1778#issuecomment-1124204864). there's still some cleanup of environment variables to ensure this continues to work properly but this will be tracked in #897. Closing this ticket  @stevenino

[2022-07-12 14:57] #1778 closed, assigned to ADPennington, andrew-jameson

[2022-07-12 15:12] stevenino commented on #1943
Closed as not required per backlog refinement on 7/12/22

[2022-07-12 15:12] #1943 closed

[2022-07-12 15:35] stevenino commented on #629
Closed as OBE per backlog refinement on 7/12/22

[2022-07-12 15:35] #629 closed

[2022-07-12 15:39] stevenino commented on #444
Closed as OBE per backlog refinement on 7/12/22

[2022-07-12 15:39] #444 closed

[2022-07-12 15:45] ADPennington commented on #443
@ADPennington will check with OCIO re: AU-2.

[2022-07-12 15:51] stevenino commented on #512
Closed as OBE per backlog refinement on 7/12/22

[2022-07-12 15:51] #512 closed

[2022-07-12 15:53] stevenino commented on #838
Closed as OBE per backlog refinement on 7/12/22

[2022-07-12 19:08] n0remac commented on #1784
Django has a stmplib wrapper
https://docs.djangoproject.com/en/4.0/topics/email/

What are we doing about TLS/SSL? It looks like we can use cloud.gov as a Certificate Authority.

[2022-07-12 22:27] stevenino opened #1948 "User Access (Release 4)"

[2022-07-13 15:38] andrew-jameson opened #1951 "As tech lead, I need production Login.gov variables scripted in deployments"
**Description:**
Per dev sync 7/13, we need to adapt certain Login.gov values from their sandbox environment to their production sites.

**Acceptance Criteria:**
- [ ] Deployments for production environments are able to use new Login.gov site values
- [ ] Ensure dev/staging deployment behavior are unchanged
- [ ] Testing Checklist has been run and all tests pass
- [ ] README is updated, if necessa

[2022-07-13 15:44] riatzukiza opened #1952 "As a developer, I'd like to use a task queue to handle sending notification emails"
**Description:**

Follow on to #1784
After validating the network settings allowing us to send emails from cloud.gov, we decided not to implement it as a django view, but in a celery task.

Will require functioning celery service to implement this ticket correctly

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] Emails are sent fr

[2022-07-13 16:14] stevenino commented on #1784
Closed as done per DSU on 7/13/22

[2022-07-13 18:01] ttran-hub commented on #1708
FYI: 404 error link to the Getting Started guide in the content of the template.
Otherwise, the email templates are good with a11y. 🚀

[2022-07-14 01:00] stevenino commented on #972
@lfrohlich @ADPennington Can we close this epic?

[2022-07-14 13:36] lfrohlich commented on #1708
With a11y review, this is approved. Thanks!

[2022-07-14 14:22] #1708 closed

[2022-07-14 15:24] andrew-jameson opened #1956 "As tech lead, I want us to implement storage solution for non-code files"
**Description:**
As an industry best practice, we need to shift off using our github repo for binary files (aka, non-code, non-documentation files). It should be a simple integration to utilize [Git LFS](https://git-lfs.github.com/) as opposed to an artifact file server like [Nexus](https://www.sonatype.com/products/nexus-repository) or [Artifactory](https://jfrog.com/artifactory/) although both o

[2022-07-14 19:32] ADPennington opened #1957 "As a Pilot STT, I need to be able to submit data for FY2022"
**Description:**
Currently STTs can only submit data files FY2020 and FY2021. Because pilot users for v2.0 will be submitting data for FY2022 (i.e. Q3 of FY2022, we need to add an additional year to the fiscal year dropdown menu.

**Acceptance Criteria:**
- [x] Users can submit data files for FY2022
- [ ] Testing Checklist has been run and all tests pass
- [ ] README is updated, if necessary

**Ta

[2022-07-15 14:44] lilybl1 opened #1960 "[Dev-ready Design] Data Submitted email template to incorporate data into a table format"
Related to story #1845

—As a [active Data Analyst] I want the email to be structured in a scannable format so that I can get the information I need quickly.—

**AC:**

- [ ] Documentation work for the following has occurred:
   - [ ] Relevant User stories - dev ticket #1845
   - [ ] Updating living UX documents, e.g. User Flows or Personas(if relevant).
- [ ] Dev/Design sync has occurred; resulti

[2022-07-15 23:11] #1693 closed

[2022-07-18 13:35] #1680 closed

[2022-07-18 15:25] stevenino commented on #1288
@blacklobo @ADPennington Any updates on this?

[2022-07-18 19:43] reitermb opened #1965 "Approved-user TDP homepage"
**Description:**
Replaces the current placeholder content (readout of user permissions) with a new copy, a reminder highlighting the reporting deadlines for the year, and featured resources from the unauthenticated TDP homepage.

**Acceptance Criteria:**
- [x] Update "Next Reporting Deadline" to "Data Reporting Deadlines"
- [x] Reporting deadline table presented, see reference table in supporting

[2022-07-18 19:54] n0remac commented on #1754
@andrew-jameson @ADPennington In our configurations I don't see any references to Forks(which I believe is intentional)

It looks like OWASP will run on hhs/tanf-app:develop but it will probably not work because it has the wrong login credentials.

Similarly, if I configure it to run on main and master, it will do so on both the HHS and raft-tech fork. Is this behavior acceptable or do you want it

[2022-07-18 20:43] n0remac commented on #1754
I think I can make the current `nightly-owasp-scan` abstract enough to work for any environment. I'll have to work on it a bit to find out.

Will it be ok if runs on both hhs/tanf-app:main and raft-tech/tanf-app:main?

[2022-07-18 20:48] ADPennington commented on #1754
sounds great!

if you mean hhs/tanf-app:main and raft-tech/tanf-app:develop, then yep, i think this is what we'd like per [Andrew's justification here](https://github.com/raft-tech/TANF-app/issues/1754#issuecomment-1110143384). to my knowledge, raft-tech doesnt have a main branch.

[2022-07-18 22:33] stevenino commented on #888
@ADPennington @lfrohlich can we close this epic? All associated tickets are closed.

[2022-07-19 16:08] n0remac commented on #1957
I can statically add a new year, or make a function that always gives the current year.

[2022-07-19 16:11] n0remac commented on #1957
note for me. In Dec 2022 the year 2023 should show

[2022-07-19 19:40] reitermb opened #1972 "[Research Facilitation] Workshop policy/decisions on the number of fiscal years to surface in TDP"
**Description:**
Decide the number of fiscal years needed to be available/made resubmittable within TDP. See also #120 — consolidate w/ this ticket?

**AC:**

- [ ] Research sessions have occurred.
- [ ] Anonymized session notes or other top-line synthesis have been documented.
- [ ] Changes to recruitment criteria have been documented if recruitment/target participant pool has been expanded.

**N

[2022-07-19 19:44] #1480 closed

[2022-07-19 19:44] stevenino commented on #1480
Closed as not required per backlog refinement on 7/19/22

[2022-07-19 19:51] reitermb commented on #1197
Note for myself to capture/discuss any pertinent detail from #1177 when we sync on this

[2022-07-19 19:54] stevenino commented on #1177
Closed as not required per backlog refinement on 7/19/22

[2022-07-19 19:54] #1177 closed

[2022-07-20 12:19] ADPennington commented on #897
### Notes re: prod deployment failure from HHS:master on 7/19/2022

@lfrohlich @andrew-jameson @stevenino the deployment workflow initially failed at the `deploy-instrastructure-prod` job, for a couple of reasons:
-  a formatting issue at the [`terraform fmt` step](https://app.circleci.com/pipelines/github/HHS/TANF-app/604/workflows/fce08fb6-e0e0-4f8a-9173-d56491bffab1/jobs/1272), which was resolv

[2022-07-20 12:20] ADPennington commented on #1945
@riatzukiza the [master branch on my fork](https://github.com/ADPennington/TANF-app/tree/master) is now ready for testing.

- I updated it by first renaming `main` and `master` to `main_archive_20220719` and `master_archive_20220719` (in case you need it for reference)  and created new versions based on most recent merges to hhs repo.
- Note [this comment](https://github.com/raft-tech/TANF-app/iss

[2022-07-20 14:38] andrew-jameson opened #1977 "As tech lead, I want updating JWT_KEY for Login.gov to be secure and accessible"
**Description:**
When updating JWT keys, I want to be able to share keys across the team in a secure manner. I've seen [Hashicorp Vault](https://learn.hashicorp.com/collections/vault/getting-started), [SOPS](https://github.com/mozilla/sops), and [Ansible Vault](https://docs.ansible.com/ansible/latest/user_guide/vault.html) among other utilities cover this key management problem. Being able to util

[2022-07-20 15:36] stevenino commented on #753
So is this ready to close @lfrohlich @ADPennington ?

[2022-07-20 16:24] lfrohlich commented on #1757
Hi @reitermb I added a comment about TANF changing to SSP-MOE if selected above--this should also probably be an annotated sticky for dev awareness. Per the ACs, has the Dev-Design sync happened and have follow up tickets been created?

[2022-07-20 16:36] stevenino commented on #1757
@lfrohlich The dev tix is referenced above #1755. It was reviewed/refined and prioritized at backlog refinement yesterday.

[2022-07-20 20:27] ADPennington opened #1979 "As system owner, I want to add a vulnerability disclosure policy link to TDP frontend"
**Description:**
Per #753, the prod TDP system will be covered by the [HHS Vulnerability Disclosure Policy](https://www.hhs.gov/vulnerability-disclosure-policy/index.html) after HHS' Synack assessment team and  ACF OCIO verifies the security state of the system.

This vulnerability scan is expected to be completed by August 2022, and if any issues are identified, we must remediate them prior to be

[2022-07-20 20:37] ADPennington opened #1980 "As system owner, I want to add HHS security policy link(s) to TDP's GitHub repo"
**Description:**
Similar to #1979, we will add a link to the [HHS VDP policy]() and [HHS privacy policy]() to the TDP github repo.

**Acceptance Criteria:**
- [x] HHS VDP policy link visible in the repo
- [x] HHS privacy policy link visible in the repo
- [x] Testing Checklist has been run and all tests pass
- [x] README is updated, if necessary

**Tasks:**
- [x] confirm strategy for implementation

[2022-07-21 13:46] lfrohlich commented on #1757
Thanks @stevenino. I made the reference explicit in the ACs.

[2022-07-21 13:46] #1757 closed

[2022-07-21 13:48] lfrohlich commented on #753
Ready to close with follow on ticket #1979

[2022-07-21 13:48] #753 closed

[2022-07-21 13:49] #888 closed

[2022-07-21 13:49] lfrohlich commented on #888
Yes, good to close

[2022-07-21 21:38] reitermb opened #1984 "Spike: Attempt fix a11y reads for collapsed nav menu"
## Description

Nav items in the mobile/responsive version of TDP nav get ignored when NVDA (specific Windows-based screenreader) tries to read them. Possibly also affects Android's Talkback screenreader. We identified this issue during testing for #1937 but it also looked like it was introduced before then and just not caught.

## Action Taken

Tab through mobile nav items (from close to sign out

[2022-07-22 20:31] #1951 closed

[2022-07-25 18:38] ADPennington opened #1995 "As tech lead, I need clamav to detect test virus files"
Thank you for taking the time to let us know about the issue you found. The basic rule for bug reporting is that
something isn't working the way one would expect it to work. Please provide us with the information requested
below and we will look at it as soon as we are able.

## Description

I submitted test virus files in dev-qasp and staging environments and clamav did not detect these as infect

[2022-07-26 12:48] #1750 closed

[2022-07-26 13:13] #1788 closed

[2022-07-26 13:31] #1957 closed

[2022-07-26 20:07] n0remac commented on #1995
Seems like this one can be solved by correctly setting CLAMAV_NEEDED to True in the env file. Once I did that locally this was working as shown in the video.

[2022-07-26 23:29] n0remac opened #2000 "Consolidate duplicate deploy and build jobs in CircleCi config"
**Description:**
The jobs `deploy-dev`, `deploy-staging`,  and `deploy-production` are nearly identical, as are `deploy-infrastructure-dev`, `deploy-infrastructure-staging`, and `deploy-infrastructure-production`. The reason there are these three similar jobs are to pass different parameters to deploy-cloud-dot-gov and deploy-infrastructure.

These similar jobs could be abstracted into a single Or

[2022-07-27 14:33] ADPennington commented on #1995
@n0remac could you try testing this in a deployed environment? note that I just checked the env variables in the qasp env for example, and the value is currently set to `True`:

[code]

[2022-07-27 17:21] ADPennington commented on #897
demo'd 7/27/2022 for TDP IPT meeting. this can be closed when first AC met. cc: @stevenino

[2022-07-27 20:18] n0remac commented on #1995
Alex solved this by by changing AV_SCAN_URL to http://tanf-dev-clamav-rest.apps.internal:9000/scan. I am looking into making that the default value.
[code]

[2022-07-29 14:59] stevenino commented on #144
Closed as not required.

[2022-07-29 14:59] #144 closed

[2022-07-29 15:15] lilybl1 opened #2006 "SPIKE: Production Analytics / Usage mapping tools"
SPIKE: As a Program Manager, I want to be able to understand how our users behave/interact as the user base grows and how to best support the users in their experience with TDP.

[ ] Discuss with someone that has an understanding of PII and how a tool like this would impact staying in compliant (scrub SSN, etc.)
[ ] What are the types of Research Questions we are trying to answer with the implemen

[2022-07-30 21:38] n0remac opened #2008 "Switch to React Router links for internal navigation"
## Background ##
Currently, our application is not fully leveraging React Router's optimized loading capabilities. Many internal links use `<a>` tags or `window.location.href`, causing full page reloads or opening content in new tabs unnecessarily. This negatively impacts performance and user experience.

Switching to React Router’s `<Link>` component for internal navigation will allow smoother tr

[2022-08-01 13:36] ADPennington commented on #1627
8/1/2022 -- submitted request to OCIO to change redirect URLs to URLs that include the ACF backend routes, per #1945. re-opening to track completion of this change request.

[2022-08-02 16:09] lilybl1 opened #2015 "[Research Facilitation] Pilot Program (Moderated and Unmoderated Session Support)"
**Description:**
The pilot program will begin on 8/8-8/15 with 15 participants (5 moderated and 10 unmoderated).

**AC:**
- [ ] 8/1 - Conduct Information Session
- [ ] Research sessions have occurred between 8/8 - 8/15 - see [sign-up](https://teams.microsoft.com/_#/xlsx/viewer/teamsSdk/https:~2F~2Fhhsgov.sharepoint.com~2Fsites~2FTANFDataPortalOFA-UserResearch~2FShared%20Documents~2FUser%20Research

[2022-08-02 17:26] ADPennington commented on #1627
8/2/2022. Successfully updated and tested the prod URLs for ACF AMS. Closing as completed.

[2022-08-02 17:26] #1627 closed

[2022-08-02 18:58] #1906 closed

[2022-08-02 21:23] lilybl1 commented on #1197
@stevenino @ADPennington - I've got the Research Plan in a place that I think it's worth a discussion before I keep going. Take a look in the story for the supporting links. Thanks!

[2022-08-04 18:32] ADPennington commented on #972
yes.

[2022-08-04 18:32] #972 closed

[2022-08-04 18:34] ADPennington commented on #885
this epic has been completed.

[2022-08-04 18:34] #885 closed

[2022-08-05 14:14] andrew-jameson opened #2030 "Update caniuse-lite to resolve browserslist warning"
### Background ###
[code]

### Acceptance Criteria ###
- [ ] `caniuse-lite` is updated, the warning no longer shows
- [ ] Testing Checklist has been run and all tests pass
- [ ] README is updated, if necessary

[2022-08-05 19:50] riatzukiza opened #2031 "As a developer, I'd like good documentation for our cross origin code"
**Description:**

With how far apart all of the changes for #1945 were in the code base, there should be a thread connecting them all together. The Nginx is very poorly documented, and we interact with it very rarely, so we never thought to check there.

We want to make a readme for the nginx configs, and some comments in the related django and react code that will link developers from the distant

[2022-08-05 20:36] andrew-jameson opened #2032 "As tech lead, I want local configurations to use nginx"
**Description:**
As we uncovered in #1945, our development docker images do not use nginx for the frontend. We should use nginx so that we can more closely mimic production in our development processes.

**Acceptance Criteria:**
- [ ] Using our dev aliases, `tdrs-start` will spin up the frontend with nginx
- [ ] The nginx configurations for local and prod are functionally equivalent
- [ ] Testing

[2022-08-08 15:47] ADPennington commented on #1979
### 8/8/2022 update from OCIO's Synack team:

 - No vulnerabilities were found on TDP prod. 🚀
 - They've requested that we add the VPD link, so we need to discuss prioritizing this ticket at backlog refinement mtg @stevenino

cc: @tdrammeh1 @AiseosaO

[2022-08-08 16:10] n0remac opened #2035 "Manage Your Account Redirects to Demo on Prod"
When I go to the production page and go to the profile page and click the button I get redirected to the Demo version of login.gov.

I checked this on Mac using Firefox.

[2022-08-08 16:12] ADPennington commented on #2035
@n0remac its hardcoded here: https://github.com/raft-tech/TANF-app/blob/4852f108f79e5cbb0b954cc8abbeaa5483bc5170/tdrs-frontend/src/components/Profile/Profile.jsx#L78

looks like we need conditional logic here.

[2022-08-08 16:27] andrew-jameson commented on #2035
@stevenino Because this is such a light lift and fairly urgent, I have pulled this into the sprint and assigned to @n0remac to be completed as a hotfix by Wednesday 8/10.

[2022-08-08 18:50] andrew-jameson opened #2038 "[DRAFT] CSRF/CORS issues w/ staging"
**Description:**
As scope has grown for #1945, this will be a follow-on ticket to fully diagnose and resolve the cross-domain issues within staging.

**Acceptance Criteria:**
- [ ] Production environments utilizing `*.acf.hhs.gov` domains retain frontend button functionality (login, request access, admin panel)
- [ ] Non-production environments utilizing `*.app.cloud.gov` domains retain their prev

[2022-08-09 14:06] #1754 closed

[2022-08-09 17:08] andrew-jameson commented on #2032
This will be just for local dev nginx configs and use of hosts files and/or domains will be split off into another ticket.

[2022-08-09 17:58] lilybl1 commented on #1197
@stevenino We discussed this in this morning's stand-up - this story is ready for QASP and a new ticket will be created for the work on writing the human-readable error messages. This requires more time with DIGIT as well. I can write that new ticket.

[2022-08-09 18:04] lilybl1 opened #2042 "[Research Planning] Human-Readable Error Messages (Section 1)"
**Description:**

*---After identifying the error codes by STT, this story will focus in on writing the human-readable error messages so that we can test with the STT.---*

**AC:**
As a Grantee, I would like to be able to understand the error descriptions so that I can properly resolve the errors and submit my data files for Section 1.

**Tasks:**
- [x] Write up the top errors identified into huma

[2022-08-10 19:09] #1995 closed

[2022-08-10 19:12] andrew-jameson commented on #1945
We have split off related documentation and clean up work into #2031, #2032, and #2038. These changes have been merged into HHS:master and is now live in production.

[2022-08-10 19:12] #1945 closed

[2022-08-11 18:17] ADPennington opened #2054 "As TDP Sys Admin, I need nightly owasp scan artifacts copied to production backend"
**Description:**
Since #1754 was merged into `HHS/TANF-app:master` successful nightly scan reports do not appear in DAC. There are currently no reports in prod. See evidence [here](https://github.com/raft-tech/TANF-app/issues/2054#issuecomment-1213474067).

These reports are not being copied to production backend in DAC because the repository that these artifacts are saved in is hard-coded in [`pr

[2022-08-11 23:17] stevenino commented on #1972
This is a policy decision that will be driven by the outcome of a conversation with DIGIT. Extensive research is not required

[2022-08-12 16:03] reitermb opened #2058 "[Research Synthesis] Pilot Research Synthesis"
**Description:**

Delivers a written synthesis of 2.0 Pilot Research

**AC:**

- [ ] A hack.md with the drafted synthesis has been reviewed.
- [ ] PR has been opened containing the final draft of the synthesis.

**Tasks:**

- [x] Aggregate notes from research sessions
- [x] Draft hack.md (Document synthesis)
    - [x] Scope (research goal(s)
    - [x] High-level findings
    - [x] Actionable learn

[2022-08-12 16:19] stevenino commented on #1197
@ADPennington Ready for QASP review

[2022-08-12 19:39] ADPennington commented on #897
Production deployment successful per [PR #400 to `HHS:master`](https://github.com/HHS/TANF-app/pull/400). Notes:

- v1.0 features were deployed with release 2.0 features with abovementioned PR.
- #1133 will come in a minor release for v2. completion of this work was blocked by connectivity issues originating from NIH, who manages the Titan server.
- owasp nightly scan in production is running succ

[2022-08-12 19:39] #897 closed

[2022-08-12 20:07] ADPennington commented on #2054
**Evidence collected on 8/12/2022 4p EST**

_nightly scan metrics_
<img width="1352" alt="Screen Shot 2022-08-12 at 3 47 34 PM" src="https://user-images.githubusercontent.com/63075587/184433027-8090907c-5850-410a-ab70-cb31dd4c2c44.png">

_traceback for failed scan_
[code]

_successful scan reports saved in HHS CircleCI_
<img width="928" alt="Screen Shot 2022-08-12 at 4 03 04 PM" src="https://user-

[2022-08-15 16:11] #2035 closed

[2022-08-15 21:01] andrew-jameson commented on #1544
A little bit of scope creep, would like to implement a IP block list because of the recent harassment we received from China/Nepal in prod. That could be it's own ticket, but wanted to discuss it for this as well.

As a small aside, if you can get a inclusive list of US-only based IP addresses for prep work for implementing this in production, that'd be great.

[2022-08-16 17:51] andrew-jameson commented on #1977
To be discussed at dev sync upon @raft-twhitlock 's return.

[2022-08-16 19:26] stevenino commented on #1891
Close as not a viable solution per backlog refinement on 8/16/22

[2022-08-16 19:26] #1891 closed

[2022-08-17 13:26] ADPennington commented on #1197
@lilybl1 this looks really good. I left some questions in the hackmd:

- does the timeline need to be updated?
- do we need to build in time for UX to meet with DIGIT about the error descriptions prior to research?
- how are we planning to incorporate the "header record" errors, if at all? my comments on this offer more background.

Once we can confirm details on those questions, please tag me aga

[2022-08-17 16:34] ADPennington opened #2066 "[wip]As TDP Sys Admin, I want users to know when TDP is down for maintenance"
**Description:**
As of Aug 2022, TDP has real users in our production environment. As we continue to release new updates and features to prod, we will need to re-deploy the apps which may impact any users attempting to access the system. Similarly, we may experience unexpected downtime.

**Open Questions:**

- Currently when the app is down, users see a message like the one below. Would it be bett

[2022-08-17 18:41] lilybl1 commented on #1197
@ADPennington Tag. Updated based on our conversation earlier.

- Updated timeline - I did adjust it based on our currently sprint research synthesis
- Yes, add a line item for DIGIT review - is not meant to be a week long session, but some time during that week
- header - will not be tested in this research session

Thanks!
Diana

[2022-08-17 19:03] ADPennington commented on #1197
thank you @lilybl1 approved closing as completed. 👍🏾

[2022-08-17 19:03] #1197 closed

[2022-08-19 13:30] ADPennington opened #2073 "As gov tech lead, I need prod jwt keys rotated for login.gov"
**Description:**

Login.gov jwt keys in prod env are due to expire on 9/1/2022. These need to be rotated at least every 90 days. New public and private keys need to be generated and tested prior to submitting a change request to login.gov support.

![jwtprod](https://user-images.githubusercontent.com/63075587/185628877-fb7301bc-e4ad-42e0-9e97-e8669113d1ad.PNG)

This ticket will track this work.

*

[2022-08-19 16:12] #953 closed

[2022-08-19 16:12] #1422 closed

[2022-08-22 14:02] raftmsohani commented on #1133
As per @ADPennington : the following directories have to be added on top of directory structure:
- For dev: ../tanfdpdev-data
- For Prod: ../tanfdp-data

[2022-08-23 14:05] ADPennington commented on #2073
### 8/23/2022 Update

successfully tested new keys in production. steps followed for future reference:
- ran `production-deployment` workflow from HHS circleci to ensure apps are in qasp-approved state
- updated the following env vars via `cf tdp-backend-prod set-env...` and restaged:
[code]
- used grantee button to test login.gov sign-in with 2 different non-acf email addresses. successfully redi

[2022-08-24 19:47] andrew-jameson opened #2083 "As django admin, I need to manually set pilot users to approved"
**Description:**
As a follow-on to #1679, we felt it would be simpler to manually set the pilot users to `Account Approval Status` to 'approved' and then run another migration to fully delete the deprecated fields.

**Acceptance Criteria:**
- [x] User flow is consistent with 1679
- [x] Existing users (especially prod users) retain their existing access/behavior with no intervention
- [ ] Deprecate

[2022-08-26 16:10] lilybl1 commented on #2058
@ADPennington This is ready for a first review -  take a look at the Draft link to the Research Synthesis and Project Update. The Project Update is added at the end of the synthesis to keep things in one place to review. We will separate these out for production. Thank you!

[2022-08-26 17:28] ADPennington opened #2090 "Transferred files must be renamed on ACF Titan"
**Description**

All files transferred to ACFTitan have a fixed name: `ADS.E2J.FTP8.TSNone` which was introduced in #1736. Evidence is captured [here](https://github.com/raft-tech/TANF-app/pull/1918#pullrequestreview-1087368110). The file-renaming logic [starting here](https://github.com/raft-tech/TANF-app/blob/271dc53f81d614b0ac6790275c88d6bd6c73d327/tdrs-backend/tdpservice/data_files/models.py#L

[2022-08-26 17:29] ADPennington commented on #1133
@raftmsohani and I decided to remove an AC from this ticket because it would require fixing an issue presented in another.

- AC to be removed: `Transferred files must be renamed on ACF Titan per convention noted in comments below.`
- why: [this renaming logic is incorrect](https://github.com/raft-tech/TANF-app/blob/271dc53f81d614b0ac6790275c88d6bd6c73d327/tdrs-backend/tdpservice/data_files/models

[2022-08-26 17:32] ADPennington commented on #2090
@stevenino please add this ticket as a dependency to closing out the sftp epic.

[2022-08-30 14:10] andrew-jameson commented on #1133
Ready to demo per sprint review 8/30

[2022-08-30 21:56] n0remac opened #2102 "Owasp scans deployed from a label fail"
## Description

OWASP scans triggered by a label are failing for two unrelated reasons.

## Action Taken

1. Changes made to frontend deployment cause build step to fail, resulting in this error:
https://app.circleci.com/pipelines/github/raft-tech/TANF-app/10276/workflows/6923096a-aefd-4660-ba08-63a050ab6787/jobs/26227/parallel-runs/0/steps/0-103
This can be remedied by updating the build command

[2022-08-31 16:12] andrew-jameson commented on #1133
Moved to blocked pending bugfix in #2090

[2022-09-01 20:09] ADPennington commented on #2073
login.gov pushed the new cert to production. will verify the new key works tomorrow 9/2 morning.

[2022-09-02 13:26] raftmsohani commented on #1979
![Screen Shot 2022-09-02 at 9.25.57 AM.png](https://images.zenhubusercontent.com/61d3697f7808855468eeaafa/02b353d1-d65c-4d0e-83c6-29885c766a1e)

[2022-09-02 15:17] ADPennington commented on #2073
#### 9/2 Update

verified that new keys are working in prod. Notes for steps followed below.

1. sign into prod via login.gov on 9/2, since pre-existing cert expired on 9/1. checking if pre-existing jwt keys work.

2. restage `tdp-backend-prod` and try step 1 again.

3. update  `JWT_CERT` and `JWT_KEY` in `tdp-backend-prod` with unexpired versions and restage.

3. re-deploy  latest qasp-approved c

[2022-09-02 15:17] #2073 closed

[2022-09-06 14:49] raftmsohani commented on #2090
As per our conversation, the decision is to use the first 4 values in stt.filenames field using section value for the time being.

[2022-09-06 18:31] raft-twhitlock opened #2115 "Create Utility Image(s) for CircleCI pipeline"
**Description:**
One of the outcomes from [1826](https://github.com/raft-tech/TANF-app/issues/1826) is to create a Utility Image that has some of the tools that we are installing at the beginning of our pipeline config file. This utility image primary objective is to speed up our pipeline times. Reduction on our scripts to install certain tools will reside within this utility image.

**Acceptance

[2022-09-06 21:04] raft-twhitlock opened #2116 "Container Registry creation"
**Description:**
Follow on ticket created from [1826](https://github.com/raft-tech/TANF-app/issues/1826)Create self hosted container registry, using some of the common OSS options available (nexus, harbor, ECR,etc...) paired with Raft's AWS account. Instead of relying on built images every time our pipeline is ran, best practices encourage to have separate jobs/tasks that build images that are uni

[2022-09-07 17:25] raft-twhitlock opened #2118 "Persist environment variables across application rebuilds/restages."
**Description:**
Ticket created from spike [1826](https://github.com/raft-tech/TANF-app/issues/1826).

1. Don't Repeat Yourself: our previous scripts had many repeated commands/segments
2. Idempotent: repeated operations on the same target produce the same result. In other words, the desired state is always attained and the state-machine of such operations is well-handled.
3. Infrastructure as cod

[2022-09-09 16:05] lilybl1 commented on #1979
@raftmsohani Let us know how the capitalization of the Policy goes. Thanks!

[2022-09-09 16:06] lilybl1 commented on #1826
@andrew-jameson Please review with Tim when you get back

[2022-09-09 16:07] lilybl1 commented on #1679
@reitermb @jtimpe Please review together

[2022-09-12 13:22] #2054 closed

[2022-09-12 15:06] ADPennington commented on #2058
this is back in qasp.

[2022-09-12 15:31] #1980 closed, assigned to ADPennington

[2022-09-12 18:29] andrew-jameson commented on #1826
Closing out as the child tickets *are* the deliverables.

[2022-09-12 18:29] #1826 closed

[2022-09-12 20:26] jtimpe commented on #1744
same rules should hide the "Data Files" navigation item in the `Header` component for these roles.

take `account_approval_status` into consideration (must be `Approved`)

[2022-09-12 20:35] jtimpe opened #2125 "Users in `Approved` status with no group assignment get blank screen"
## Description

Users with `account_approval_status` set to `Approved` but with no role assigned will be confronted with a "white screen of death" when logging into the frontend.

<img width="1752" alt="image" src="https://user-images.githubusercontent.com/111305129/189753070-e4d2c5d8-6764-4c6d-bf5b-125711a99d7d.png">

this error shows in the console
<img width="642" alt="image" src="https://user-

[2022-09-12 20:36] jtimpe commented on #2125
introduced as a result of #1679

[2022-09-13 12:50] #1679 closed

[2022-09-13 18:16] jtimpe commented on #1351
[#1289](https://github.com/raft-tech/TANF-app/issues/1289)
https://gist.github.com/jtwillis92/a6840a412676fc2d3f58c0dccbf10da1

[2022-09-13 18:26] stevenino commented on #1979
@ttran-hub have you had a chance to look at this yet?

[2022-09-13 23:34] stevenino commented on #217
@andrew-jameson to split this ticket into 2 tickets.

[2022-09-14 05:50] reitermb opened #2131 "[Dev-ready Design] Explainer for "Closed Cases" for grantees familiar with "Negative Cases""
**Description:**

Pilot research revisited the fact that many grantees use different/older terms for various elements of TANF data, in this case using "Negative" rather than "Closed" to refer to Section 2 data. This ticket delivers in-app and knowledge center enhancements to de-mystify the terminology difference for grantees. In-app changes should be achievable with minimal scope (i.e. around the

[2022-09-14 05:56] reitermb opened #2132 "Knowledge center documentation for common onboarding problems"
**Description:**

Pilot research revisited a number of friction points that can come into play during onboarding. These include login.gov emails being directed to spam folders and 2FA codes not being delivered on the first attempt. This ticket adds documentation to direct grantees toward to help them quickly resolve these issues. Scope should be limited to a short easily scannable article within t

[2022-09-14 06:10] reitermb opened #2133 "[Dev] Enhancement for Request Access form (Tribe discoverability)"
**Description:**

Pilot research indicated that the presence of Tribal program names is not discoverable for Tribal grantee users requesting access. This ticket delivers design changes to the Request Access page that minimize or eliminate the potential for user or technological error when entering STT info.

**Related User Stories:**

- As a grantee user I want to correctly enter which STT I'm aff

[2022-09-14 06:13] reitermb opened #2134 "Disable browser autofill for STT field on Request Access page"
**Description:**
Pilot testing revealed that browser autofill can lead to the wrong STT being entered on TDP's Request Access page. This enhancement is related to #2133, but not blocked by it.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] Associated STT field gets an ```autocomplete="off"``` attribute
- [ ] Testing Checklist ha

[2022-09-14 14:07] raftmsohani opened #2136 "As a user, I need ACF Titan filename from STT filename table only"
**Description:**
_Provide a brief background and justification for this issue_
The DataFile model has a logic to get the filename from STT filename table using section and if the filename does not exist, tried to create one. However, we should always have the filename based on section and do not need to create new filename.

the following logic should not be needed:
[code]

**Acceptance Criteria:*

[2022-09-14 14:18] #1979 closed

[2022-09-14 15:49] reitermb opened #2137 "[a11y] Update footer designs to address additions like vulnerability disclosure"
**Description:**

Follow-on from #1979 — delivers modification to the footer so that all links are housed in a single list element as opposed to multiple (per column).

**AC:**
- [x] Footer appears the same visually
- [x] All links in footer are housed in one list element
- [ ] Testing Checklist has been run and all tests pass
- [ ] README is updated, if necessary

**Tasks:**

- [x] Consolidate li

[2022-09-14 16:37] ADPennington opened #2138 "As tech lead, I need django pagination limit increased"
### Description

I rely on the api interfaces (e.g. [swagger](https://api-tanfdata.acf.hhs.gov/swagger/) and [django rest](https://api-tanfdata.acf.hhs.gov/v1/data_files/)) to keep track of data file submissions in production.

For example, since we've been working around #1133, I developed a script to pull down a list of data files to transfer to titan. This script relies on having a complete lis

[2022-09-14 16:58] reitermb opened #2140 "As a grantee user submitting data I always want to see the confirmation/error message"
**Description:**

Pilot research showed us that most of our participants were using TDP at resolutions that cut off the success/error banner on the Data Files submission page. This ticket should deliver an enhancement that sets focus to said banner when Submit is clicked.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] Focus shif

[2022-09-14 17:26] stevenino commented on #2066
@ADPennington to refine after #1845 is completed.

[2022-09-14 17:30] jtimpe opened #2141 "As technical lead, I want an authenticated-user integration test"
As a developer, I'd like smoke or integration tests to run on deployments to all environments so that changes are tested automatically upon code merge, giving me the highest confidence that my changes will work when deployed to production.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [x] Define smoke testing and integration testin

[2022-09-14 17:38] stevenino commented on #1686
Closed as OBE since Django was updated per backlog refinement on 9/14/22

[2022-09-14 17:38] #1686 closed

[2022-09-14 18:47] stevenino commented on #2141
This is an action item that came out of the pilot release post mortem.

[2022-09-15 19:10] stevenino commented on #1107
@reitermb to split out #1107 into required a11y fix and 2nd tix that can be pushed out to v3.1

[2022-09-15 19:13] stevenino commented on #1590
@ADPennington can we close this?

[2022-09-15 19:14] ADPennington commented on #1590
yes

[2022-09-15 19:14] #1590 closed

[2022-09-15 19:40] ADPennington opened #2145 "As system owner, I want to TDP backend to have ACF domain for release 2.0"
For release 1, we used a cloud.gov domain for the backend as shown here: https://github.com/raft-tech/TANF-app/issues/1627#issuecomment-1181853861

This was a workaround to an issue with cross-site domains that is documented in #726. This issue effectively made it impossible to successfully authenticate into TDP.  The workaround resolved this but introduced new issues with the TDP functionality (i

[2022-09-16 14:26] #1865 closed

[2022-09-16 15:03] #1133 closed

[2022-09-16 15:03] #2090 closed

[2022-09-16 16:14] stevenino commented on #1352
Completed by #1133

[2022-09-16 16:14] #1352 closed

[2022-09-20 15:14] stevenino commented on #1984
@reitermb Can fully refine this ticket and tag Robert Jolly for review.

[2022-09-20 15:25] stevenino commented on #2133
Revisit the need after the November pilot submission.

[2022-09-20 15:33] stevenino commented on #1814
@lilybl1 Update the email content to include STT name.

[2022-09-20 15:58] stevenino commented on #2145
@andrew to add proposed solution.

[2022-09-20 15:59] stevenino commented on #2145
Resolved under #2038

[2022-09-20 15:59] #2145 closed, assigned to andrew-jameson

[2022-09-20 16:11] stevenino commented on #2138
Merged.

[2022-09-20 16:11] #2138 closed, assigned to ADPennington

[2022-09-20 20:31] ADPennington commented on #2058
@reitermb @lilybl1 left a few final comments that need to be addressed before this is merged. i made inline minor edits for clarity and to save time. this looks good. im not able to comment on the project updates but it looks good too.

[2022-09-20 21:04] reitermb commented on #2058
Thanks @ADPennington! I'll take a look and work those into the PR

[2022-09-21 13:05] raftmsohani commented on #1544
- Added GeoIP white list for United States using https://lite.ip2location.com/united-states-of-america-ip-address-ranges?lang=en_US. Any blocked IP has to be added to the list

[2022-09-21 15:13] andrew-jameson commented on #2136
For future releases, we can remove this logic and should instead utilize only filenames from the database table for SSP users and/or Tribal users. This is an improvement of SFTP generally which will be sunsetted when full parity of parsing is reached. @raftmsohani will remove this dead code.

[2022-09-22 13:42] raftmsohani opened #2154 "As a user, I need the filename for SSP section to be correctly assigned after uploading the file"
**Description**

After uploading files, the filenames are changed based on assigned section using https://github.com/raft-tech/TANF-app/blob/develop/tdrs-backend/tdpservice/stts/management/commands/data/states.csv. Currently, the logic for renaming files for SSP section is missing and uploaded files are renamed incorrectly for SSP files. The SSP uploaded filename renaming logic has to be added in

[2022-09-22 14:56] lilybl1 commented on #2042
@reitermb @ADPennington Feedback on 2042 would be appreciated on this one. [Mural](https://app.mural.co/t/raft2792/m/raft2792/1663123254796/d56e7aa2c3d351b92fd6687208449d69d1271519?sender=u3ca60168b5ac4eb17bf92804)

[2022-09-23 16:03] stevenino commented on #2058
@ADPennington ready to go back to QASP

[2022-09-26 16:05] stevenino commented on #2042
@ADPennington this is ready for QASP

[2022-09-27 01:46] raft-twhitlock opened #2163 "front end service fails for 'File not found' when docker-compose is used for local dev"
## Description

When running `docker-compose.local.yml` file in the tdrs-frontend directory, its failing with a `file not found` error. Because we are binding a mount when we specify the directory as a listed item in the `docker-compose.local.yml`, docker is looking for this bound directory as a shared directory. Docker, by itself is not aware of any directories that are shared except for the defa

[2022-09-27 13:23] ADPennington commented on #2042
LGTM @lilybl1 👍🏾

[2022-09-27 14:18] stevenino commented on #1199
@reitermb still require the updated supporting documentation.

[2022-09-27 17:57] #2125 closed, assigned to jtimpe

[2022-09-27 19:22] lilybl1 opened #2165 "[Research Facilitation] Human-Readable Error Messages (Section 1)"
**Description:**
The goals of this research plan is to:
- Using the findings/insights from the Research Summary - Header Errors
- Explore how Grantees interpret the newly written error code descriptions based on the top error codes
- Based on the feedback during this session we can provide human-readable error descriptions so that the Grantees can resolve the errors on their own before re-submissi

[2022-09-27 19:32] stevenino commented on #1620
@andrew-jameson bring this up at bluesky

[2022-09-27 19:33] stevenino commented on #1585
Closed as not required per backlog refinement on 9/27/22

[2022-09-27 19:33] #1585 closed

[2022-09-27 19:34] stevenino commented on #1568
No longer required per backlog refinement on 9/27/22

[2022-09-27 19:34] #1568 closed

[2022-09-27 19:42] stevenino commented on #1446
OBE per backlog refinement on 9/27/22

[2022-09-27 19:42] #1446 closed

[2022-09-27 19:56] stevenino commented on #1836
Very low priority. Not refined.

[2022-09-27 20:02] andrew-jameson commented on #1854
Relevant code section that doesn't account for staging:
[code]
https://github.com/raft-tech/TANF-app/blob/develop/.circleci/config.yml#L263

[2022-09-27 20:06] stevenino commented on #2030
Low priority, needs refinement.

[2022-09-27 20:28] ADPennington commented on #796
We will revisit this topic in a new issue after Kibana is set up (after #1348 closes).

[2022-09-27 20:28] #796 closed

[2022-09-27 20:45] andrew-jameson opened #2166 "As a STT data analyst, I should not be able to upload SSP data if my STT does not upload it"
**Description:**
A follow on to #217. Related to #1755

**Acceptance Criteria:**
- [ ] Reject data file uploads of type `SSP` if STT does not have SSP indicator
- [ ] Testing Checklist has been run and all tests pass
- [ ] README is updated, if necessary

**Tasks:**
- [ ] Upon rejection, provide error code to frontend/user data file upload
- [ ] Run Testing Checklist and confirm all tests pass

**

[2022-09-28 01:25] lilybl1 commented on #2042
@stevenino This is ready to move to done.

[2022-09-28 01:26] #2042 closed

[2022-09-28 01:43] lilybl1 commented on #1814
@stevenino Updated this email html to include STT name.

[2022-09-28 16:12] stevenino commented on #1814
Please use the content in this link https://reitermb.github.io/TDP-HTML-Email-Demo-Environment/

[2022-09-28 16:12] stevenino commented on #1839
Please use the content in this link https://reitermb.github.io/TDP-HTML-Email-Demo-Environment/

[2022-09-28 20:39] jtimpe commented on #1350
Notes on the proxy configuration: https://gist.github.com/jtwillis92/a6840a412676fc2d3f58c0dccbf10da1#aws-proxy-layer

[2022-09-28 20:39] andrew-jameson opened #2169 "As tech lead, I do not want our raft-tech circleci to be able to deploy to prod"
**Description:**
Currently, the `deploy-backend.sh` references a bunch of `PROD_*` envrionment variables. With a more stable prod, we should only be deploying here from `HHS:TANF-app` so we should remove these lines.

**Acceptance Criteria:**

- [ ] Can no longer deploy to production from raft-tech:TANF-app
- [ ] Deploying to dev and develop applications is still functional
- [ ] Testing Checklist

[2022-09-28 20:40] andrew-jameson commented on #2169
@ADPennington Please let me know if this is a duplicate ticket.

cc @stevenino

[2022-09-29 17:17] #2136 closed, assigned to raftmsohani

[2022-09-29 21:13] reitermb commented on #1199
@ADPennington hack.md was giving me some issues so I'm spinning up a new one to transfer the content into—link in the description is updated!

[2022-09-30 16:11] stevenino commented on #2058
Related PRs are closed

[2022-09-30 16:11] #2058 closed

[2022-10-03 16:45] reitermb commented on #1960
@ttran-hub Hi Thomas, we have a mini a11y review ready for this work (adding some data that was in a list to table form instead. Should be a straightforward one! Test environment link here: https://reitermb.github.io/TDP-HTML-Email-Demo-Environment/data-has-been-submitted.html

cc: @ADPennington

[2022-10-04 15:40] stevenino commented on #2154
@raftmsohani Can this be refined similar to #2090

[2022-10-04 15:46] reitermb opened #2175 "Fix download button disappearance after click"
### Background ###
Download button on previously submitted data files disappears when clicked. It should remain present whenever a download is available for a given section rather than disappearing after one use.

### Acceptance Criteria ###
- [x] Download buttons do not disappear when clicked
- [x] Download buttons do not appear when no file is present for that section
- [x] Testing Checklist has

[2022-10-05 03:48] reitermb commented on #1984
Videos demonstrating blank/missing reads via NVDA & JAWS

https://user-images.githubusercontent.com/28515874/193977379-3d4dcf0e-611e-4c69-bd5e-803484821413.mp4
https://user-images.githubusercontent.com/28515874/193977386-2f61e7d6-016e-4d4e-bc1c-f9199544f12f.mp4

[2022-10-05 14:42] ttran-hub commented on #1960
@reitermb a11y looks good. 🚀 Not a11y related, please update Section 2 text to Section 2 (Closed Case Data). Thanks.   cc @ADPennington
![image](https://user-images.githubusercontent.com/61292479/194091471-8f11e23a-6839-4c76-a4df-a0bb95711528.png)

[2022-10-05 15:50] jtimpe commented on #1744
acct approval status emails - approved requires role access

[2022-10-05 16:13] stevenino commented on #1199
@reitermb requires minor edits.

[2022-10-05 16:31] #2102 closed, assigned to n0remac, andrew-jameson, jtimpe

[2022-10-07 10:28] raftmsohani commented on #2154
@stevenino : Ticket refined

[2022-10-07 16:58] stevenino commented on #1960
@reitermb please make the section 2 description as called out. Thank you!

[2022-10-07 17:01] #1952 closed

[2022-10-07 17:17] reitermb commented on #1960
Fixed!

[2022-10-07 17:17] reitermb commented on #1960
cc @ADPennington @ttran-hub

[2022-10-07 17:18] ADPennington commented on #1960
thanks @reitermb closing as completed. 👍🏾

[2022-10-07 17:18] #1960 closed

[2022-10-11 13:18] reitermb commented on #1199
@ADPennington added the discussed clarity around the new dictionaries last week—the doc should be ready for another look!

[2022-10-11 13:22] ADPennington commented on #1199
thank you @reitermb this is approved 👍🏾

[2022-10-11 14:20] ADPennington opened #2183 "Restage apps for buildpack update (10/02/2022)"
**Description:**

Hi cloud.gov user,

cloud.gov frequently updates the programming language buildpacks available to
our customers. Buildpack updates include programming language updates and
often include security fixes.

We recently updated the buildpack in use by your application. You should
restage or redeploy your application to take advantage of the update.

A rolling restage operation is the

[2022-10-11 14:20] #1199 closed

[2022-10-11 15:55] reitermb opened #2184 "[Research Planning] Recruitment for November Pilot Expansion"
**Description:**
Delivers continued recruitment work for the November TDP expansion and additional research prep related either to 3.0 errors research or 2.2 pilot specific research.

**AC:**
- [x] Grantees from the shortlist have been reached out to about participation in November expansion
- [x] Additional tickets needed to support 2.2 / 3.0 research tracks have been created

**Tasks:**
- [x] Se

[2022-10-11 18:41] ADPennington commented on #1288
I emailed updates on the purpose of the updated SORN to ACF OCIO on 10/11/2022.

[2022-10-12 15:31] stevenino commented on #626
The recruiting scope that was originally a part of this tix was spun out into #2184

[2022-10-12 20:39] lilybl1 opened #2186 "[Research Synthesis] 2022, Fall Research Error Messages"
**Description:**

--Link to research planning, facilitation tickets, other relevant supporting information. Typically pointed at 13 points.--

**AC:**

- [ ] A hack.md with the drafted synthesis has been reviewed.
- [ ] PR has been opened containing the final draft of the synthesis.

**Tasks:**

- [ ] --Aggregate notes from research sessions--
- [ ] Delete video recording(s) once notes are compile

[2022-10-13 18:40] reitermb opened #2191 "[Research Synthesis] Notifications and SSP Submission Pilot Release v2.2"
**Description:**

This synthesis delivers findings specific to 2.0 - 2.2 functionality studied during the November Pilot expansion. This includes revisiting elements flagged in the August pilot (e.g. Tribe discoverability in the associated stt combobox), and grantee impressions of new functionality (e.g. Notifications, SSP support)

**AC:**

- [x] A hack.md with the drafted synthesis has been revi

[2022-10-13 19:22] reitermb opened #2192 "[Research Facilitation] Open ended v2.2 feedback sessions"
**Description:**
Sessions booked based on log events showing grantee submission of data for Nov 15. Runs in parallel with pilot timeline, e.g. Week of the 7th into the week of the 14th.

**AC:**

- [ ] Research sessions have occurred.
   - [ ] SSP states
   - [ ] with 3+ Tribes
- [ ] Anonymized session notes or other top-line synthesis have been documented.
- [ ] Changes to recruitment criteria ha

[2022-10-13 19:47] reitermb opened #2193 "[Research Spike] Trial run for error report production"
**Description:**
To better estimate the lift required to manually produce error reports for pilot expansion v3 research we need to actually attempt to apply the style guide to a realistic set of errors that might be generated by a quarter of data.

**AC:**

- [x] Set of errors tackled is on the moderate to high side (e.g. ~70 errors)
  - [x] rows 1-15
  - [x] rows 16-30
  - [x] rows 31-45
  - [x]

[2022-10-13 19:59] #2186 closed, assigned to nobody

[2022-10-14 15:47] reitermb commented on #2132
Updated scope a little based on 10/14 cross product sync to encompass what to expect re: email notifications

cc: @ADPennington

[2022-10-17 15:53] jtimpe opened #2196 "[Unit Tests] Standardize usage of `react-testing-library` or `enzyme` in frontend unit tests"
**Description:**
As mentioned by Tim in the discussion of PR #2189, we should standardize our usage of _either_ `react-testing-library` or `enzyme` for our frontend unit tests.
(Link: https://github.com/raft-tech/TANF-app/pull/2189#discussion_r996067861)

Both libraries provide similar functionality (`render` and `mount`, respectively) to render components for tests, but there's probably no reason

[2022-10-18 15:39] reitermb commented on #2191
Miles to split into two tickets:
To be drafted: 2022 Error Guidance (maybe to be published alongside other 3.0 research in early 2023)
To be published: 2.2 Pilot (Notifications & SSP Submission)

[2022-10-20 20:18] ADPennington commented on #2083
When the  acct status changes to `approved`, it will trigger an email to existing users. if this is a concern, @reitermb @lilybl1 @ttran-hub we may need to plan to send out a "heads up" about this.

[2022-10-20 20:38] lilybl1 commented on #2083
@ADPennington Okay. Should be manageable for November 2022. Q: will this be the behavior every time the acct status changes to "approved", it will send an email to all existing users? So, if we were to have another expansion in February 2022, our v2.0 would have received an "approved" email for a 3rd time?

[2022-10-20 20:49] ADPennington commented on #2083
@lilybl1 this is a one-time change since the account approval field is new. Should only affect the pre-existing users whose accounts we will manually change ahead of 2.2.

[2022-10-21 16:53] lilybl1 commented on #2184
closing ticket after sync discussion.

[2022-10-21 16:57] reitermb commented on #2184
Noting that the tickets created as part of the scope of this ticket were discussed in last backlog (#2193 , #2192 , #2191) cc @stevenino @ADPennington

[2022-10-21 16:57] lilybl1 commented on #2165
Completed. See link in notes for facilitation mural.

[2022-10-21 17:21] lilybl1 commented on #2193
Spoke to Alex about obtaining the transmission error report by COB Tuesday, 10/25. Thank you!

[2022-10-21 19:24] #1814 closed

[2022-10-21 19:33] #1104 closed

[2022-10-21 20:05] #1840 closed

[2022-10-21 20:05] #1839 closed

[2022-10-21 20:05] #1334 closed

[2022-10-24 15:56] ADPennington commented on #2184
Closing as completed. per 10/24 UX Sync

[2022-10-24 15:56] #2184 closed, assigned to lilybl1

[2022-10-24 15:57] ADPennington commented on #2165
closing as completed 👍🏾

[2022-10-24 15:57] #2165 closed, assigned to lilybl1

[2022-10-25 16:12] stevenino commented on #2166
Closed as not required per sprint planning on 10/25

[2022-10-25 16:12] #2166 closed, assigned to jtimpe

[2022-10-25 17:14] ADPennington commented on #992
revised with @n0remac @jtimpe and @reitermb on 10/25. cc: @andrew-jameson @stevenino

[2022-10-25 19:00] reitermb opened #2208 "[Draft synthesis] Fall 2022 Error Guidance Content Testing"
**Description:**

This ticket delivers a draft synthesis covering the results of October 2022 Error Content Testing. Drafted content will be published as part of a later follow-on synthesis ticket alongside 3.0 Errors Research.

**AC:**

- [x] A hack.md with the drafted synthesis has been reviewed.
- [x] Applicable next steps have been added to the backlog for discussion in backlog refinement

**T

[2022-10-25 19:46] stevenino commented on #1744
@ADPennington cleanup prior to being assigned.

[2022-10-25 22:37] reitermb commented on #2132
Not ready for QASP yet but I wanted to note that an initial version of work for the changelog (located on the homepage) and implementation of analytics are live in the test environment.
https://reitermb.github.io/Test/knowledge-center/

![chrome_m6VbAloa2Z](https://user-images.githubusercontent.com/28515874/197894986-f8a73019-5058-448e-b85b-b00fad213891.png)
Re: the changelog if anyone's intereste

[2022-10-25 22:38] reitermb commented on #2132
![image](https://user-images.githubusercontent.com/28515874/197895259-d66166d3-a42d-404c-add1-a267e442e338.png)
Screenshot for easier reference.

Also cc: @ADPennington for visibility

[2022-10-26 16:21] stevenino commented on #2131
@reitermb to add additional details that were discussed as part of the ticket sync with Alex.

[2022-10-26 21:29] ADPennington commented on #1744
@stevenino ticket revised.

[2022-10-27 15:22] jtimpe commented on #2140
Given
* i'm logged in as a user with "x" group, "x" location, "x permissions"
* small screen size/low resolution monitor (a user has to scroll to access "Sections" on the Data Files page)

When
* I submit a data file for upload

Then
* a "success" or "error" alert banner scrolls into view

[2022-10-27 15:29] #1845 closed

[2022-10-27 15:37] ADPennington opened #2216 "As tech lead, I need critical finding from WebInspect Oct 2022 scan addressed"
**Description:**

ACF OCIO performs monthly security scans on prod using [WebInspect](https://www.microfocus.com/media/data-sheet/webinspect_automated_dynamic_application_security_testing_ds.pdf), and has one critical finding for Oct 2022:

"WebInspect has detected support for weak TLS/SSL ciphers on the server `https://tanfdata.acf.hhs.gov:443/runtime-main.[hash].js`". More information is on [p.

[2022-10-27 17:40] n0remac commented on #1350
This could be useful
https://www.codementor.io/@samueljames/using-django-with-elasticsearch-logstash-and-kibana-elk-stack-9l4fwx138

[2022-10-27 18:19] andrew-jameson commented on #2032
Per dev meeting 10/27, this is now obsolete. Finished in #1544

[2022-10-27 18:19] #2032 closed

[2022-10-27 19:27] lilybl1 commented on #2131
Note: Based on discussions with Alex's meeting with the Tribal team members, it was identified that due to the long tail of fTANF replacement may be 1 year or more, there needs to be some content about Closed = Negative. TBD on the design, but needs to be considered.

[2022-10-27 19:57] lilybl1 opened #2217 "As a 'Data Analyst', I would like to only view sections that need submission"
**Description:**
As a 'Data Analyst', I would like to only view sections that I need to submit data files for so that I'm not having to waste time or worry about data files that do not apply to my STT.

We observed during our v2.0 pilot that certain STTs we held moderated sessions with did not necessarily know what to do with the Section 4 area as they did not have that data file to submit. The kn

[2022-10-28 20:55] andrew-jameson opened #2222 "ZAP 2.12.0 has new backend alerts"
**Description:**
_Provide a brief background and justification for this issue_
After merging #2221 and #2218 we're seeing anew false positive. Need to investigate and resolve by either noting as false positive or fixing the backend issue but at a minimum we've prevented pipeline failures.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

[2022-10-31 15:50] raft-twhitlock opened #2225 "Hashicorp Vault account set up with HA vault cluster plan"
**Description:**
**Given** that I can log into a managed high available vault cluster in Hashicorp Cloud Platform, **then** I can see available key/value secrets **when** I have the correct policy and authenticated user logged in.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] Hashicorp Cloud Platform account is created which ca

[2022-11-01 15:37] lilybl1 commented on #2217
Discussed in Backlog Refinement that this ticket should be generic not specific to Section 4.

[2022-11-01 15:40] ADPennington commented on #2222
2.12.0 version of zap findings:

- frontend nightly on staging [here](https://output.circle-artifacts.com/output/job/96ebb11b-9b77-4a8b-b47c-810998f9d95e/artifacts/0/tdrs-frontend/reports/owasp_report.html)
- backend nightly on staging [here](https://output.circle-artifacts.com/output/job/165ac834-f51a-4d03-8981-fc05c155f334/artifacts/0/tdrs-backend/reports/owasp_report.html)

[2022-11-01 15:44] lilybl1 commented on #2217
@andrew-jameson Updated per our discussion - can we sync on the triggers for the other sections?

[2022-11-01 15:55] ADPennington commented on #2216
@jtimpe the critical finding description is on page 8 of the above attachment. and the dependency appears as a `low` finding from zap [here](https://output.circle-artifacts.com/output/job/165ac834-f51a-4d03-8981-fc05c155f334/artifacts/0/tdrs-backend/reports/owasp_report.html)

[2022-11-01 20:15] jtimpe commented on #2216
@ADPennington @stevenino @andrew-jameson bit of an update here based on some research

* [(Draft PR) attempt to resolve](https://github.com/raft-tech/TANF-app/pull/2227)

I attempted to update our `ssl_protocol` for nginx to TLS 1.3, but it didn't work. I think that's because Cloud.gov sits between the client and the nginx instance we have set up to serve the frontend. Since Cloud.gov is the first

[2022-11-01 20:51] ADPennington commented on #2216
Thanks @jtimpe this is helpful. I think we can document this on our false positive form and submit to TDP ISSOs. Once the security team approves we can close this ticket. cc: @stevenino @andrew-jameson @AiseosaO @tdrammeh1

I'm wondering if we need to keep track of findings that show up in the security scans that will not get remediated. we have one for zap [here](https://github.com/raft-tech/TANF

[2022-11-01 23:42] stevenino commented on #2175
This bug has a workaround.

[2022-11-01 23:53] stevenino commented on #2217
To be re-scoped to include all data types.

[2022-11-03 15:23] #2140 closed, assigned to jtimpe

[2022-11-03 16:09] #1844 closed

[2022-11-03 16:53] #992 closed

[2022-11-03 23:02] stevenino commented on #1737
@ADPennington I believe this epic is ready to close.

[2022-11-03 23:06] stevenino commented on #1214
@ADPennington I believe this epic is ready to close.

[2022-11-04 15:14] stevenino commented on #2132
@reitermb Can we push the changes Alex requested on Wednesday 11/2?

[2022-11-04 18:54] ADPennington commented on #2083
@andrew-jameson @ttran-hub @lilybl1 @stevenino  2.0 pilot users manually approved. Commands below, and names have been redacted and replaced by the row number in the tracker sheet. Closing this ticket as completed:

[code]

[2022-11-04 18:54] #2083 closed

[2022-11-04 19:29] ADPennington opened #2238 "As tech lead, I need "low" findings from WebInspect Oct 2022 scan addressed"
**Description:**
ACF OCIO performs monthly security scans on prod using [WebInspect](https://www.microfocus.com/media/data-sheet/webinspect_automated_dynamic_application_security_testing_ds.pdf), and has a few low findings for Oct 2022:

![scan](https://user-images.githubusercontent.com/63075587/201999596-a31082fb-e48e-4b6f-b916-647877cc066f.PNG)

More information is on [p. 8+ here](https://hhsgov

[2022-11-05 20:24] ADPennington opened #2239 "As an admin, I need to see the correct string representation of data file fiscal period in LogEntry model"
[This](https://github.com/raft-tech/TANF-app/blob/c42845e64154e18316d4b7cc7d729b4ae09fc662/tdrs-backend/tdpservice/data_files/models.py#L165L172) portion of code has incorrect mapping of fiscal quarters to months.

_example of incorrect string for data submitted for fiscal Q2_
<img width="1352" alt="Screen Shot 2022-11-05 at 4 09 27 PM" src="https://user-images.githubusercontent.com/63075587/20013

[2022-11-07 15:26] andrew-jameson opened #2241 "As tech lead, I want stt_code field to retain leading zeroes"
**Description:**
_Provide a brief background and justification for this issue_
Per [this comment](https://github.com/raft-tech/TANF-app/pull/2236#discussion_r1015504289) we need to rework this field.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] Model field `stt_code` is updated to retain leading zeroes
- [ ] Testing Checklist

[2022-11-07 17:12] andrew-jameson opened #2242 "As tech lead, I want trufflehog to catch fake key files"
**Description:**
_Provide a brief background and justification for this issue_
Per [this comment](https://github.com/raft-tech/TANF-app/pull/2236#discussion_r1014376554) we'll need to investigate this issue.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] Trufflehog catches fake RSA files from testing
- [ ] Testing Checklist has

[2022-11-07 17:12] andrew-jameson opened #2243 "[WIP] As tech lead, I want the search function to return latest version"
**Description:**
_Provide a brief background and justification for this issue_
Follow-on to #1755

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [ ] _Outcome 1_
- [ ] _Outcome 2_
- [ ] _Outcome 3_
- [ ] Testing Checklist has been run and all tests pass
- [ ] README is updated, if necessary

**Tasks:**
_Create a list of granular, spe

[2022-11-07 21:58] lilybl1 commented on #2193
@reitermb Let's review when you get back. I've stubbed out what a potential "header" could be for the Transmission File.

Temporary Assistance For Needy Families Program
Transmission Report Section 1 (SSP/TANF) append based on the type of file it is

Date of Transmission: 11/07/22 11:54:44 Calendar Year & Qtr: 2022/04
State/Tribe: {Insert Region #}

State/Tribe Name: {Insert Name}

Case Number Rpt

[2022-11-08 14:02] ADPennington opened #2248 "As a data submitter, I want to receive 1 email notification per submission"
**Description:**

Currently, one email per submission _and_ file type  ([see here](https://github.com/raft-tech/TANF-app/blob/c42845e64154e18316d4b7cc7d729b4ae09fc662/tdrs-backend/tdpservice/data_files/views.py#L75)) is sent to all users associated with STT. This does not match the [mockup](https://reitermb.github.io/TDP-HTML-Email-Demo-Environment/data-has-been-submitted.html), which shows a tabl

[2022-11-08 15:05] stevenino commented on #2132
@ADPennington this is ready for QASP again.

[2022-11-08 17:31] #1755 closed

[2022-11-08 17:41] #2239 closed, assigned to jtimpe

[2022-11-08 17:41] #2154 closed, assigned to raftmsohani

[2022-11-08 17:41] #2132 closed, assigned to reitermb

[2022-11-08 20:21] reitermb opened #2250 "[Design Deliverable] Update Knowledge Center v3.0 updates (email notifications, submission history)"
**Description:**

Adds screenshots and more detailed description of denial, inactivity, and deactivation emails to the knowledge center. Follow on from discussion in [#2220](https://github.com/raft-tech/TANF-app/pull/2220#discussion_r1015625649)

**Tasks:**

- [x] [Diana] Select a page / determine whether we should create a standalone "TDP Notifications" page for the added/updated content
- Need t

[2022-11-08 20:42] stevenino commented on #1641
@ADPennington to update screenshots.

[2022-11-10 15:22] ADPennington commented on #1737
this work was completed with the merge of #2236

[2022-11-10 15:24] ADPennington commented on #1214
completed when the last v2 email ticket #1844 was implemented.

[2022-11-10 15:24] #1214 closed

[2022-11-10 15:24] ADPennington commented on #1756
closed with merge of  #2236

[2022-11-10 15:24] #1756 closed

[2022-11-10 15:25] ADPennington commented on #1240
closed with merge of #2249

[2022-11-10 15:25] #1240 closed

[2022-11-10 17:12] lilybl1 opened #2256 "Data Files from previous submissions showing up in recent quarter"
## Description

One of the tribes from the v2.0 pilot submitted feedback that when they went to the 2022 Q4 section that their 2022 Q3 data files were displayed. They were not expecting to see any data files yet. This was an unmoderated session so we didn't have recordings of this happening in real time. The below are the results of our testing in Stage.

We have a video recording, but it is too l

[2022-11-14 21:30] andrew-jameson commented on #2000
OBE as discussed with dev team 11/14.

[2022-11-14 21:30] #2000 closed

[2022-11-14 22:30] n0remac opened #2260 "As a developer, I want a more organized CircleCI pipeline parameters"
**Description:**

As a developer I would like the deployment pipeline to be as easy to understand as possible. The structure of how parameters are created in workflows and passed to jobs and commands is confusing and creates many extra lines.

I want those parameters to be lifted out of the Circle Ci config and put into an env file. Parameters that are dependent upon where they are deployed from s

[2022-11-14 23:35] n0remac opened #2261 "Spike: Investigate how env variables are set to cloud environments."
**Description:**

**Background:**

When code is deployed to a cloud gov environment variables are set on the cloud gov instances. These variables originate from the Circle Ci environment variables, a .env file, or are constructed by the cicd pipeline. The deploy frontend and deploy backend scripts contain much of the logic for how the variables are transferred to the cloud gov instances. There are

[2022-11-15 01:06] stevenino commented on #721
@ADPennington Can we close this epic?

[2022-11-15 01:17] stevenino commented on #2066
@ADPennington to refine.

[2022-11-15 14:51] #2183 closed, assigned to jtimpe

[2022-11-15 17:40] ADPennington opened #2267 "As a grantee, I want to see 5 years of data submission history"
**Description:**

As part of pilot v2.2, a couple of grantees have expressed interest in being able to track 5 years of data submissions via TDP. They noted that this is helpful for their auditors.

Some considerations:

- TDRS (legacy system) doesnt have history prior to FY21.
- OFA is interested in retaining history for at least 5 years (and the updated SORN, once approved, should support this)

[2022-11-15 18:24] ADPennington opened #2268 "[SPIKE] Investigate clamav-related network error"
**Description:**
During v2.2, we've observed 4 states and 1 territory running into instances of network errors when users submit files.

Today, I uploaded and submitted 3 files for VI at one time. 2 of the 3 were successfully submitted after clean scan, and the other one didnt submit -- resulting in network error returned on frontend.  I resubmitted that one and it was successful.

_clamav logs of

[2022-11-15 20:23] ADPennington commented on #2238
11/15 update:

- @n0remac will remove robots via PR
- @ADPennington will draw up notes for @tdrammeh1 @AiseosaO to review for remainder of low findings that do not need remediation.
- we will re-work ADR#16 to track security scan waivers

cc: @stevenino

[2022-11-15 21:14] andrew-jameson commented on #2217
Self note: Write dev-ready requirements for frontend to display "keys" from data/states.csv for example to no longer show "section 1", "section 2" but instead selectively show "active", "closed", "aggregate" based on what they are supposed to submit.

[2022-11-15 21:20] stevenino commented on #2243
This should be part of the acceptance criteria or be addresed with the implementation of #1007

[2022-11-15 21:20] #2243 closed, assigned to andrew-jameson

[2022-11-15 21:58] stevenino commented on #216
Closed as OBE

[2022-11-15 21:58] #216 closed

[2022-11-16 15:36] andrew-jameson commented on #2141
Might be worth investigating how "pa11y" bypasses auth in the CI pipeline.
https://github.com/raft-tech/TANF-app/pull/1454

[2022-11-16 16:59] andrew-jameson opened #2274 "As technical lead, I want our user approval flow tested"
**Description:**
Spin-off of #2141, we want to build an end-to-end test flow. This ticket will focus on an authenticated user test-flow.

**Acceptance Criteria:**

- [ ] Integration tests cover critical path of automated user being approved
- [ ] Test flow can be run both in CircleCI and deployed environments
- [ ] Testing Checklist has been run and all tests pass
- [ ] README is updated, if neces

[2022-11-16 17:52] andrew-jameson commented on #2261
Won't do, will reorganize after #2260 and create a new ticket with more definitive goals

[2022-11-16 17:52] #2261 closed, assigned to nobody

[2022-11-16 19:12] reitermb opened #2275 "[Design Deliverable] A11y Testing 101 Doc"
**Description:**

Delivers "How to a11y" content aimed at enabling the dev team to shift more a11y testing left. The big goal being to overview what to look for and how to look for it when it comes to common 80% a11y issues that have come up in past raft/gov a11y reviews. This ties into ongoing non-ticketed work to build a "State of a11y in TDP doc", but specifically delivers on the dev-enablement

[2022-11-16 19:12] reitermb commented on #2275
Drafted! cc @stevenino

[2022-11-16 19:43] andrew-jameson commented on #2217
@reitermb If you can find any figma mockups for this, please do add them under notes otherwise we will proceed as-is.

[2022-11-16 21:00] reitermb commented on #2217
We didn't have any that were up to date, but I spun one up for the sake of illustration. cc @stevenino

[2022-11-16 21:05] stevenino commented on #2217
@andrew-jameson Are figma mockups required? I know we wanted them if they already existed but I didn't think we needed to make new ones if there were none.

[2022-11-16 21:06] andrew-jameson commented on #2217
No, not required. Good to have, thanks for adding to description, @reitermb

[2022-11-16 21:09] reitermb commented on #2217
Just wanted to note that this was ~a 30 second modification on existing figma assets so I figured I'd just go for it

[2022-11-16 21:11] stevenino commented on #2217
Perfect. Thank you!

[2022-11-18 13:29] ADPennington opened #2279 "[spike] Why is nightly scan not running on prod?"
**Description:**

Since merging v2.2.2, nightly scan workflow is running on hhs:main but not initiating on hhs:master. cannot investigate by re-running failed nightly scans that are running on v2.2.1 commit because we need it to run on latest commit.

**Acceptance Criteria:**
_Create a list of functional outcomes that must be achieved to complete this issue_

- [x] nightly owasp scan triggers as s

[2022-11-18 20:30] andrew-jameson commented on #1121
Need to rewrite this ticket, will likely not be initially storing as a flat file but will store as JSON database field and perhaps convert to flat file when user wants to see/download errors.

[2022-11-18 23:38] reitermb commented on #2193
@ADPennington bumping this into QASP! Given that this was an exploratory ticket for us rather than a deliverable I'm not sure what you'd like QASP review to entail--big picture is that we think we could make manual error report production work on the scale we attempted here (~70 errors). Given that a lot of the grantees we're targeting for the actual 3.0 research have far fewer errors than that we

[2022-11-21 14:39] ADPennington commented on #2279
### 11/21/2022 Update

[triggering the pipeline from CircleCI web app](https://circleci.com/docs/triggers-overview/#run-a-pipeline-from-the-circleci-web-app) worked.  This triggered all the _unscheduled_ workflows (ie. `build-and-test` and `production deployment` ) on the master branch on the latest commit. Then later, the scheduled nightly scanned triggered and has been running successfully since

[2022-11-21 14:39] #2279 closed, assigned to ADPennington

[2022-11-21 14:58] andrew-jameson opened #2282 "As technical lead, I want a file upload integration test"
**Description:**
_Provide a brief background and justification for this issue_
#2141 spin-off, we want a full end-to-end test flow for the critical data analyst user path.

**Acceptance Criteria:**

- [ ] An authenticated, approved test user can successfully upload a file.
- [ ] Testing Checklist has been run and all tests pass
- [ ] README is updated, if necessary

**Tasks:**
_Create a list of gr

[2022-11-21 17:10] stevenino commented on #2260
After some investigation and discussion. No longer required.

[2022-11-21 17:10] #2260 closed, assigned to n0remac

[2022-11-21 17:32] andrew-jameson opened #2283 "As a developer, I want to run codecov during local development"
**Description:**
_Provide a brief background and justification for this issue_
To improve the developer experience, we'd like to be able to run codecov either automatically through an IDE or some set of commands/alias/pre-commit hook to prevent extraneous CircleCI runs.

**Acceptance Criteria:**

- [ ] A developer can run codecov on their local machine with minimal configuration/steps (ideally an

[2022-11-21 17:48] #1373 closed

[2022-11-22 14:07] ADPennington commented on #2193
@reitermb sounds good to me. if this is done, this ticket can be closed.

[2022-11-22 15:11] #2193 closed, assigned to reitermb, lilybl1

[2022-11-22 20:02] #1744 closed

[2022-11-22 20:20] #1866 closed

[2022-11-22 22:05] n0remac opened #2285 "BUG: Nightly OWASP scanner stopped running"
## Description

As of #1373 the nightly owasp scans no longer run.

## Action Taken
Circle Ci does not run nightly scan

## What I expected to see
Nightly scan should run

## Background and proposed solution
Scheduled workflows are not compatible with dynamic configurations
https://circleci.com/docs/scheduled-pipelines/#migrate-scheduled-workflows

A scheduled pipeline can be used instead. The eas

[2022-11-22 22:15] stevenino commented on #2248
@Alex to split this into 2 tix. This will be prioritized as low v3.1

[2022-11-22 22:17] andrew-jameson commented on #1354
How to get fancy with our data storage:
https://django-elasticsearch-dsl-drf.readthedocs.io/en/latest/advanced_usage_examples.html#sample-document

Credit to @jtimpe

[2022-11-23 17:08] #721 closed

[2022-11-28 14:44] raftmsohani commented on #1984
![Screen Shot 2022-11-28 at 9.41.55 AM.png](https://images.zenhubusercontent.com/61d3697f7808855468eeaafa/8ac97662-cf0d-4d0d-824c-e820925894a4)

As it can be seen in the picture: removing the ```aria-hidden="true"``` corrected the issue.

[2022-11-28 16:44] raftmsohani commented on #1984
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-hidden

[2022-11-28 17:14] lilybl1 commented on #1984
@raftmsohani Please document and create new ticket for introduced defect on this ticket. Thank you!

[2022-11-28 17:22] stevenino commented on #1351
@ADPennington ready for QASP

[2022-11-29 14:56] ADPennington opened #2291 "As a data submitter, I want to receive email notifications when data is submitted"
**Description:**

Only users with `Data Analyst` role receive email notifications ([see here](https://github.com/raft-tech/TANF-app/blob/c42845e64154e18316d4b7cc7d729b4ae09fc662/tdrs-backend/tdpservice/data_files/views.py#L88)). All users with data submission permissions should receive email notifications.

Related to #2248

**Acceptance Criteria:**
- [ ]  All approved users with data submission p

[2022-11-30 16:48] ADPennington commented on #2066
### 11/30/2022 update --

- dev will investigate most common use case where apps are down, which is when deployment is in flight.  Wondering if the [`no-route`](https://github.com/raft-tech/TANF-app/blob/aa54f3f9775836efbcad8ba33491bcbb3c746352/scripts/deploy-frontend.sh#L52) parameter is needed and if we have sufficient RAM now to exclude it. @andrew-jameson added this investigation to the devops

[2022-11-30 16:48] #2066 closed

[2022-11-30 17:07] #2192 closed, assigned to reitermb